.accent-primary, #Top, .jp-play-bar, .jp-volume-bar-value { background-color: #4191bf; }
	a.styled-image:hover .inner-overlay, a.plain-image:hover .inner-overlay { background-color: rgba(65,145,191,0.4); }
	div.wpb_content_element div.ui-tabs .ui-tabs-nav li.ui-tabs-active, div.wpb_content_element div.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover { border-top-color: #4191bf; }
	.widget-area .widget li[class*="current"], div.wpb_tour .ui-tabs .ui-tabs-nav li.ui-tabs-active a, div.wpb_tour .ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover { border-bottom-color: #4191bf; }
	body #MainNav #megaMenu ul.megaMenu > li.current-menu-item > a .wpmega-link-title, div.wpb_content_element .ui-state-default .ui-icon:before, div.wpb_content_element .ui-state-active .ui-icon:before, #content div.wpb_wrapper h4.wpb_toggle:hover, #content div.wpb_wrapper h4.wpb_toggle:before {
		color: #4191bf; }	h1 em, h2 em, h3 em, h4 em, h5 em, h6 em, h2.wpb_call_text em,
	#MainNav #megaMenu ul li.ss-nav-menu-mega ul.sub-menu li.ss-nav-menu-highlight > a, #MainNav #megaMenu ul li.ss-nav-menu-reg ul.sub-menu li.ss-nav-menu-highlight > a { color: #c40837; }
	.accent-secondary, .impactBtn, .impactBtn:hover, .impactBtn:active, .wpb_call_to_action .wpb_button, .wpb_call_to_action .wpb_button:hover, .wpb_call_to_action .wpb_button:active { background-color: #c40837; }
		body, body.boxed { background: #; }
			a, .widget-area .widget a { color: #1bace2; }
				a:hover, .entry-title a:hover, .wpb_carousel .post-title a:hover, .wpb_accordion .ui-accordion .ui-accordion-header a:hover, .widget-area .widget a:hover, #Bottom a, #MainNav #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li.menu-item a:hover, #MainNav #megaMenu ul.megaMenu > li.menu-item:hover > a, #MainNav #megaMenu ul.megaMenu > li.menu-item > a:hover, #MainNav #megaMenu ul.megaMenu > li.megaHover > a .wpmega-link-title, #MainNav #megaMenu ul.megaMenu > li.menu-item:hover > span.um-anchoremulator, #MainNav #megaMenu ul.megaMenu > li.menu-item > span.um-anchoremulator:hover, #MainNav #megaMenu ul.megaMenu > li.megaHover > span.um-anchoremulator, #MainNav #megaMenu ul.megaMenu > li.menu-item:hover > a, #MainNav #megaMenu ul.megaMenu > li.megaHover > a .wpmega-link-title, #MainNav #megaMenu ul.megaMenu > li.menu-item:hover > span.um-anchoremulator, #MainNav #megaMenu ul.megaMenu > li.megaHover > span.um-anchoremulator, div.wpb_content_element .ui-state-default .ui-icon:before, div.wpb_content_element .ui-state-active .ui-icon:before, #content div.wpb_wrapper h4.wpb_toggle:hover, #content div.wpb_wrapper h4.wpb_toggle:before, div.wpb_content_element .ui-tabs .ui-tabs-nav a:hover { color: #85cae2; }
			#Top { background: #; }
			h1, h2, h3, h4, h5, h6, h2.wpb_call_text, .comments-area article header cite, .vc_text_separator div, #megaMenu ul.megaMenu > li.menu-item > a > .wpmega-link-title, #megaMenu ul.megaMenu > li.menu-item > span > .wpmega-link-title, #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1 > li.menu-item > a, #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1 > li.menu-item:hover > a, #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li.ss-nav-menu-header > a .wpmega-link-title, #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li.ss-nav-menu-header > a:hover .wpmega-link-title, .headline, .entry-title.headline { font-family: Oxygen; }
				h1, h2, h3, h4, h5, h6, h2.wpb_call_text, .comments-area article header cite, .vc_text_separator div, .wpb_accordion .ui-accordion .ui-accordion-header a, .site-header .site-title a, .entry-title, .entry-title a, .wpb_carousel .post-title a, .widget-area .widget li[class*="current"] a, div.wpb_content_element div.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .iconBox.icon i[class^="icon-"], #MainNav #megaMenu ul.megaMenu > li.menu-item > a, #MainNav #megaMenu ul.megaMenu > li.menu-item > span.um-anchoremulator, #MainNav .megaMenuToggle, .home #MainNav #megaMenu ul.megaMenu > li.current-menu-item > a .wpmega-link-title, .homepage #MainNav #megaMenu ul.megaMenu > li.current-menu-item > a .wpmega-link-title, #MainNav #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1 > li.menu-item > a .wpmega-link-title, #MainNav #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1 > li.menu-item:hover > a .wpmega-link-title, #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li.ss-nav-menu-header > a .wpmega-link-title, #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li.ss-nav-menu-header > a:hover .wpmega-link-title, #MainNav #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li.ss-nav-menu-header > a .wpmega-link-title, #MainNav #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li.ss-nav-menu-header > a:hover .wpmega-link-title, #MainNav .wpmega-widgetarea h2.widgettitle { color: #4191bf; }
				body { font-family: Oxygen;color: #4f4f4f; }
		@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://themes.googleusercontent.com/static/fonts/oxygen/v3/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(https://themes.googleusercontent.com/static/fonts/patuaone/v4/yAXhog6uK3bd3OwBILv_SLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}




a{
 outline:none!important;
}
input::-moz-focus-inner {
  border: 0;
}

#Middle {margin-top:30px;}

#text-15 {margin:0px;}
#text-18 {margin:0px;}
#text-16 {margin-bottom: 25px;}
#facebooklikebox-2 {margin-bottom:1em;}
#engageWithUs {margin:0; padding:0; overflow:hidden;}
#engageWithUs h2 {display:inline-block;  font-size:1.7em; margin:0px; padding:0px; padding-right:10px; line-height:1em;}
#engageWithUs a {font-size: 2em;}

#TopContent {
padding-top: 163px;
}

#TopContent .inner-content {
padding-top: 11px;
margin-top: 50px;}

#megaUber.megaMenu {margin-top:40px;}

#megaUber #menu-item-phantom {display:none;}

#megaUber .sub-menu {margin:0px!important; border-radius:0px!important;}



#MainNav.navRight #megaMenu {position:static!important;}

#megaMenu ul.megaMenu li a span, #megaMenu ul.megaMenu li span.um-anchoremulator span {
font-size: 125%;
}


#megaMenu ul.megaMenu li a {
transition: all 0.5s ease;
}

#megaMenu ul.megaMenu li a:hover {color:#4191bf!important;}

#megaMenu ul.megaMenu .sub-menu {background-color:rgba(255,255,255,0.95); border: 1px solid #ccc!important;}


#masthead {padding: 40px 0 0px!important; }
 #masthead .logo img {
 
  /*position: absolute;*/
  margin-top: -25px;
z-index:999;
max-height: 100px;
  transition: all 0.5s ease;
margin-bottom:-1em;

}
/*Correct responsive navigation*/
@media screen and (max-width: 768px) {
  #masthead .logo img {
    margin-left: -35px;
}
}

.entry-content h2 {margin-top:1em!important; }




#joinUs {background-color:#4191bf; margin-bottom:1em;}
#joinUs section {
   background-color:#4191bf;
   padding:2em;
   padding-top:1em;
   -moz-box-shadow:	inset 0 0 100px rgba(200,200,200,0.1);
   -webkit-box-shadow: inset 0 0 100px rgba(200,200,200,0.1);
   box-shadow:     	inset 0 0 100px rgba(200,200,200,0.1);
}
#joinUs h2 {padding: 0em 1em 0em 1em; color:#fff!important; background-color:#4191bf; font-size:275%; text-align:center; margin-bottom:0px; line-height:1.25em; text-transform:uppercase;}
#joinUs section p {font-size:130%; color:#fff; line-height:1.5em;}
#joinUs form.wpcf7-form {width:100%; margin:0;}
#joinUs form p {margin-bottom:.5em;}
#joinUs form input {font-size:85%;}
#joinUs form select {width:100%; padding: 0px 5px 0px 10px!important;}

#joinUs a.button {display: block;
background-color: #fff;
text-align: center;
font-size: 1.5em;
line-height: 2em;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
transition: all 0.25s ease; padding:0; 
}

#joinUs a.button:hover {
color:#4191bf;
background-color: #cce8ff;
}

#joinUs .wpcf7 input {width:100%}
background: url(/wp-content/uploads/sites/5/2014/04/downArrow.png) no-repeat right #fff;
   padding: 5px;
   padding-left:10px;
   font-size: 87%;
   line-height: 1;
   border: 0;
   border-radius: 2px;
   height: 38px;
   -webkit-appearance: none;
   color: #b8b8b8;
-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
 }
#joinUs form input[type=text], #joinUs form input[type=email]  {width:100%; background-color: #fff; color:#4191bf;}
#joinUs form input[type=submit]  {width:auto; background-color: #fff; color:#4191bf;}

@media (max-width: 1130px) {
  #joinUs {font-size:75%;}
}

@media (max-width: 890px) {
  #joinUs h2  {font-size:250%;}
}

@media (max-width: 767px) {
  #joinUs {font-size:100%;}
}

#socialEngage h2 {font-size:200%; display:inline-block; margin-right:10px;}
#socialEngage a {margin-left:10px;}
#socialEngage i {font-size:2em;}

#recentPosts .entry-title {font-size:1.8em; line-height:1.1em; margin-bottom:.25em; clear:none; word-break: keep-all!important; font-weight:normal;}
#recentPosts .entry-content p {font-size:1em!important;}
#recentPosts .summary p {margin-bottom:0px;}
#recentPosts article {margin-bottom:1.5em;}
#recentPosts article .tags-meta {display:none;}

#content .entry-content h1, #content .entry-content h2, #content .entry-content h3, #content .entry-content h4 {clear:none!important}

#content .entry-content h2 {font-size: 175%; line-height: 1.25em!important; margin-bottom:.25em; margin-top:1.5em}
#content .entry-content h3 {font-size: 125%; line-height: 1.25em!important; margin-bottom:.25em; margin-top:.25em}
#content .entry-content h4 {font-size: 115%; line-height: 1.25em!important; margin-bottom:.25em; margin-top:.25em; color:#999}
#content .entry-content {font-size:115%;}
.spacer {margin-bottom:2em;}


#Top section#TopContent .breadcrumbs { display: none !important }

#primary #content .page-title {display: none !important}

#homeWrapper {padding: 0 0 0 0;}
#homeWrapper .wpb_call_to_action {padding-bottom:3em; }
#homeWrapper .wpb_call_text {margin-bottom:1.5em;}
#homeWrapper .wpb_button {padding:1em!important; position:absolute; right:2em; bottom: 2em;}

#comments, .link-to-comments, .date-meta {display:none!important;}


#Bottom {padding-top:0px; margin:0;}

#FooterTop .inner-content {padding-top:20px; margin:0px;}
.menu-footer-menu-container { border-style:none;  }
#menu-footer-menu {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top:10px; border-style:none;}
#menu-footer-menu li {display: inline-block; margin-right:10px; transition: all 0.25s ease; padding:0;  }
#menu-footer-menu li:hover {border-bottom-color: #4191bf; }
#menu-footer-menu li a {text-decoration:none;  margin: 4px; display:inline-block;
    padding: 5px 20px 5px 20px; color: white; transition: all 0.5s ease;
  	 

    }
#menu-footer-menu li a {transition: all 0.25s ease;}
#menu-footer-menu li a:hover {color: #ccc; }

#managedBy .flagImage {float:left; margin-top:.5em;}
#managedBy p {margin-left:50px;}

.ngfb-buttons iframe { max-width:none; }

#fb-root {
  display: none;
}
 
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100%!important; overflow:hidden;
}

#edMenu {
	list-style: none;
	padding: 10px;
	padding-top:20px;
	margin-bottom: 2em;
border: 1px solid #ccc;
}

#edMenu h2 {
font-size:3em;
text-align:center;
margin:0px 0px .5em 0px;

}

#edMenu i {display:inline-block; height:20px; width:20px;}

.edMainHeader {margin: 0px 0px 1em 0px!important;}

#courseListing {display: table;}


#courseListing .edColumn, #courseListing .intro {margin-bottom:2em;}


#courseListing ul.courseList {
	list-style: none;
	padding: 10px;
	margin-bottom: 1em;
border-bottom: 1px solid #ccc;

}

#courseListing ul.courseList li {
display:inline-block;
list-style:none;
padding: 0px;
margin: 0px;
margin-left:.5em;
margin-right:.5em;
width: 30%;
vertical-align: top;
}

#courseListing h3 {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
display: inline-block;
padding-top: 5px;
font-size: 175%!important;
}

#courseListing h4{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

#courseListing h5 {
font-size: 1.25em;
margin-bottom: 2px;
line-height: 1.25em;
}


#courseListing .courseList p {
line-height: 1.25em; 
font-size: 90%;}

#courseListing h4 a {
	transition:  0.5s ease;
	display: table-cell;
	background-color: #ddd; color:#4290BE;
	vertical-align: middle;
	width: 100%;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	margin-bottom:1em!important;
	padding:10px;}

#courseListing h4 a:hover {background-color: #4290BE; color:#fff;}

#featuredCourse {display: table;}

#featuredCourse ul.featuredCourses {
	list-style: none;
	padding: 0;
	padding-top:20px;
	margin: 0px;
/*border: 1px solid #ccc;*/

}

#featuredCourse ul.featuredCourses li {
display:inline-block;
list-style:none;
padding-right: 5px;
margin: 0px;
margin-right:.5em;
width: 45%;
vertical-align: top;
}


/* Shortcode - Course Progress */
#wpcw_fe_course_progress {
    font-size: 10pt;
    border-spacing: 0;
    border-radius: 0px;
    border: 1px solid #DDD;
    border-bottom: 0;
}

#wpcw_fe_course_progress td {
    padding: 10px 15px;
    border: 0;
    border-bottom: 1px solid #ddd;
}

#wpcw_fe_course_progress th {
    padding: 5px 15px;
    border: 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    background-color: #F1F1F1;
    /*background-image: -ms-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: -moz-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: -o-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9),
   	 to(#DCDCDC) );
    background-image: -webkit-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: linear-gradient(top, #F9F9F9, #DCDCDC);*/
    background-color: #F1F1F1;
}

#wpcw_fe_course_progress .wpcw_fe_course_progress_grade,#wpcw_fe_course_progress .wpcw_fe_course_progress_pc
    {
    text-align: center;
}

#wpcw_fe_course_progress .wpcw_fe_course_progress_grade {
    font-weight: bold;
}

#wpcw_fe_course_progress #wpcw_fe_course {
    margin: 0;
    background: #fff;
}

#wpcw_fe_course_progress td.wpcw_fe_course_progress_detail {
    padding: 5px;
    background: #efefef;
    display: none;
}

#wpcw_fe_course_progress .wpcw_fe_course_progress_course {
    line-height: 20px;
}

#wpcw_fe_course_progress .wpcw_fe_course_progress_course a {
    background: url('../img/icon_toggle_closed.png') no-repeat 0 3px;
    padding-left: 22px;
    display: block;
    text-decoration: none;
}

#wpcw_fe_course_progress .wpcw_fe_course_progress_course.active a {
    background-image: url('../img/icon_toggle_open.png');
}

.wpcw_fe_course_progress_course a:hover {
    text-decoration: underline;
}

#wpcw_fe_course_progress td.wpcw_fe_course_progress_detail #wpcw_fe_course td
    {
    padding: 2px 5px;
}

/* Course Header */
.wpcw_fe_course_title {
    font-size: 12pt;
font-weight: bold;
margin-bottom: .5em;
}

.wpcw_fe_course_desc {
    font-size: 12pt;
    margin: 10px 0 30px;
}

/* Course Details */
#wpcw_fe_course {
    font-size: 10pt;
    border-spacing: 0;
    border-radius: 0px;
    border: 1px solid #DDD;
    border-bottom: 0;
}

#wpcw_fe_course td {
    padding: 10px 15px;
    border: 0;
    border-bottom: 1px solid #ddd;
}

#wpcw_fe_course .wpcw_fe_unit_none td {
    color: #AAA;
    text-align: center;
}

#wpcw_fe_course .wpcw_fe_module td {
    font-weight: bold;
    background-color: #F1F1F1;
    /*background-image: -ms-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: -moz-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: -o-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9),
   	 to(#DCDCDC) );
    background-image: -webkit-linear-gradient(top, #F9F9F9, #DCDCDC);
    background-image: linear-gradient(top, #F9F9F9, #DCDCDC); */
    background-color: #F1F1F1;
}

#wpcw_fe_course .wpcw_fe_unit a {
    font-weight: bold;
}

/* Widget Progress */
.wpcw_widget_progress #wpcw_fe_course {
    font-size: 9pt;
}

.wpcw_widget_progress #wpcw_fe_course td {
    padding: 2px 5px;
}

.wpcw_widget_progress #wpcw_fe_course .wpcw_fe_unit_progress span {
    display: none;
}

.wpcw_widget_progress #wpcw_fe_course .wpcw_fe_unit_complete {
    background: #DCEDF7;
}

.wpcw_widget_progress #wpcw_fe_course .wpcw_fe_unit_complete a,.wpcw_widget_progress #wpcw_fe_course .wpcw_fe_unit_complete
    {
    color: #4291be;
}

.wpcw_widget_progress tr.wpcw_fe_module {
    cursor: pointer;
}

.wpcw_widget_progress .wpcw_fe_toggle {
    text-align: right;
    vertical-align: top;
    font-size: 150%;
    font-weight: bold;
}

/* Progress */
.wpcw_fe_unit_progress span {
    display: block;
    background: url('../img/icon_pending_24.png') transparent no-repeat;
    height: 24px;
    width: 24px;
}

/* Icons from: iconfinder. com/search/?q=iconset%3Afunction_icon_set */
.wpcw_fe_unit_progress_incomplete span {
    
}

.wpcw_fe_unit_progress_complete span {
    background-image: url('../img/icon_complete_24.png');
}

/* Completion Box */
.wpcw_fe_progress_box {
    margin: 10px 0;
    border: 1px solid #DDD;
    padding: 15px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
    line-height: 1.2em;
    font-size: 11pt;
}

.wpcw_fe_progress_box p {
    line-height: 1.2em !important;
    margin: 0 0 1em !important;
}

.wpcw_fe_progress_box p:last-child {
    margin-bottom: 0 !important;
}



.wpcw_fe_progress_box_complete {
    	background-image: url(https://33d3eaa1341438eb5ef85258c0b5f1e4f15b7c4d.googledrive.com/host/0B-wK1AIkEy6IQWpSN082V0habnc/check33.svg);
    	background-repeat: no-repeat;
    	background-size: 25px;
background-position: 10px center;
background-color: #15567c!important;
color: #fff;
padding-left: 45px;


}

.wpcw_fe_progress_box_pending {
    color: #050505;
    background: #BAF5BA;
    border-color: #26C510;
}

.wpcw_fe_progress_box_error {
    color: #fff;
    background: #ff794F;
    border-color: #ff794F;
background-image: url(https://33d3eaa1341438eb5ef85258c0b5f1e4f15b7c4d.googledrive.com/host/0B-wK1AIkEy6IQWpSN082V0habnc/crossFFFFFF.svg);
    	background-repeat: no-repeat;
    	background-size: 35px;
background-position: 10px center;
padding-left: 45px;

}

.wpcw_fe_progress_box_success {
    color: white;
    background: #4191bf;
    border-color: #4191bf;
    	background-image: url(https://33d3eaa1341438eb5ef85258c0b5f1e4f15b7c4d.googledrive.com/host/0B-wK1AIkEy6IQWpSN082V0habnc/checkFFFFFF.svg);
    	background-repeat: no-repeat;
    	background-size: 25px;
background-position: 10px center;
padding-left: 45px;
}

.wpcw_fe_progress_box_warning {
    color: #918817;
    background-color: #FFFFE0;
    border-color: #E6DB55;
}

.wpcw_fe_progress_box_mark,.wpcw_fe_progress_box_download {
    float: right;
    margin: 0px;
}

a.fe_btn,.wpcw_fe_quiz_submit input.fe_btn {
transition: all 0.25s ease;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    padding: 7px 10px 8px 10px;
    text-align: center;
    /*text-shadow: 0 -1px 0 #4c9021;*/
    text-decoration: none;
    font-size: 10pt;
    line-height: 1;
}

a.fe_btn:hover,.wpcw_fe_quiz_submit input.fe_btn:hover {
    cursor: pointer;
    color: #fff;
}

a.fe_btn:active,.wpcw_fe_quiz_submit input.fe_btn:active {
    position: relative;
    top: 2px;
}

a.fe_btn_completion,.wpcw_fe_quiz_submit input.fe_btn_completion {
    /*border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;*/
color: #fff;
    background-color: #4191BF;
    /* GREEN background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d),
   	 color-stop(100%, #63a62f) );
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;*/
}

a.fe_btn_completion:hover,.wpcw_fe_quiz_submit input.fe_btn_completion:hover
    {
    background-color: #15567c;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347),
   	 color-stop(100%, #5e9e2e) );
     GREEN background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;*/
}

a.fe_btn_download {
    	color:#fff;
    border: 0px solid #4191bf  ;
    border-bottom: 1px solid #4191bf  ;
    background-color: #4191bf  ;
    /*GREEN background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d),
   	 color-stop(100%, #63a62f) );
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;*/
}

a.fe_btn_download:hover {
    	color:#15567c!important;
    background-color: #dcedf7;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347),
   	 color-stop(100%, #5e9e2e) );
     GREEN background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;*/
}

/* Nav Box */
.wpcw_fe_navigation_box {
    margin: 10px 0;
    padding: 15px 20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    line-height: 14pt;
    font-size: 11pt;
    text-align: center;
}

a.fe_btn_navigation {
    /*border: 1px solid #636BDB;
    border-bottom: 1px solid #565EDB;*/
    background-color: #15567C;
    /* PURPLE background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7E84E0),
   	 color-stop(100%, #636BDB) );
    background-image: -webkit-linear-gradient(top, #7E84E0, #636BDB);
    background-image: -moz-linear-gradient(top, #7E84E0, #636BDB);
    background-image: -ms-linear-gradient(top, #7E84E0, #636BDB);
    background-image: -o-linear-gradient(top, #7E84E0, #636BDB);
    background-image: linear-gradient(top, #7E84E0, #636BDB);
    -webkit-box-shadow: inset 0 1px 0 0 #9CA0DB;
    -moz-box-shadow: inset 0 1px 0 0 #9CA0DB;
    box-shadow: inset 0 1px 0 0 #9CA0DB;*/
}

a.fe_btn_navigation:hover {
    background-color: #4291be;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5A62DB),
   	 color-stop(100%, #3B45D4) );
    background-image: -webkit-linear-gradient(top, #5A62DB, #3B45D4);
    background-image: -moz-linear-gradient(top, #5A62DB, #3B45D4);
    background-image: -ms-linear-gradient(top, #5A62DB, #3B45D4);
    background-image: -o-linear-gradient(top, #5A62DB, #3B45D4);
    background-image: linear-gradient(top, #5A62DB, #3B45D4);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
     box-shadow: inset 0 1px 0 0 #8dbf67;*/
}

a.fe_btn_navigation_disabled,a.fe_btn_navigation_disabled:hover {
    border: 1px solid #AAA;
    border-bottom: 1px solid #999;
    background-image: none;
    background-color: #bbb;
    -webkit-box-shadow: inset 0 1px 0 0 #BBB;
    -moz-box-shadow: inset 0 1px 0 0 #BBB;
    box-shadow: inset 0 1px 0 0 #BBB;
    color: #eee;
    text-shadow: 0 -1px 0 #999;
    opacity: .8;
    top: auto;
}

/* Quiz Boxes */
.wpcw_fe_quiz_box {
    margin: 10px 0;
    border: 1px solid #DDD;
    padding: 15px 20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    line-height: 1.2em;
    font-size: 10pt;
}

.wpcw_fe_quiz_q_single {
    border-bottom: 1px solid #ddd;
    padding: 15px 0 10px;
}

.wpcw_fe_quiz_q_single_error {
    color: ff794F;
    background: #ffcdbd;
    border: 1px solid ff794F;
    margin: 10px auto 15px;
    font-size: .9em;
    padding: 5px;
    border-radius: 0px;
}

.wpcw_fe_quiz_q_single textarea {
    margin: 15px 0 5px;
    width: 95%;
}

.wpcw_fe_quiz_box_pending {
    background-color: #fff;
    border-color: #ccc;
}

.wpcw_fe_quiz_title {
    font-weight: bold;
    margin-bottom: 5px;
}

.wpcw_fe_quiz_q_image,.wpcw_fe_quiz_a_image {
    margin: 10px 0;
}

.wpcw_fe_quiz_box_wrap .wpcw_fe_quiz_q_image img,.wpcw_fe_quiz_box_wrap .wpcw_fe_quiz_a_image img
    {
    max-width: 100%;
    border: 1px solid #ddd;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #fff;
    padding: 3px;
}

.wpcw_fe_quiz_pass_mark {
    font-size: 90%;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.wpcw_fe_quiz_q_hdr {
    border-bottom: 1px solid #ddd;
    margin: 15px 0 10px;
}

.wpcw_fe_quiz_box_wrap ul.wpcw_fe_quiz_q_answers {
    padding: 10px 0 10px 15px;
    list-style-type: none;
    margin: 0;
}

ul.wpcw_fe_quiz_q_answers input[type="radio"]:checked+label {
    font-weight: bold;
}

.wpcw_fe_quiz_submit {
    text-align: center;
    padding: 10px 0 10px;
}

.wpcw_fe_quiz_q_title {
    margin-bottom: 15px;
    font-size: 110%;
}

.wpcw_fe_quiz_q_error .wpcw_fe_quiz_q_title {
    font-weight: bold;
    color: ff794F;
}

.wpcw_fe_quiz_q_hint {
    margin: 5px 0;
    font-size: 90%;
    font-style: italic;
    font-size: 90%;
}

.wpcw_fe_quiz_q_error ul.wpcw_fe_quiz_q_answers input[type="radio"]:checked+label
    {
    color: ff794F;
}

.wpcw_fe_quiz_q_error .wpcw_fe_quiz_status {
    padding-left: 10px;
    font-size: 90%;
    font-style: italic;
}

.wpcw_fe_quiz_q_correct,.wpcw_fe_quiz_q_user_grade,.wpcw_fe_quiz_q_your_answer,.wpcw_fe_quiz_q_explanation
    {
    margin: 5px 0;
}

.wpcw_fe_quiz_q_result {
    margin: 5px 0;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-weight: bold;
    min-height: 16px;
}

.wpcw_fe_quiz_q_result_correct {
    color: #15567c;
    	background-size: contain;
    background-image: url('https://33d3eaa1341438eb5ef85258c0b5f1e4f15b7c4d.googledrive.com/host/0B-wK1AIkEy6IQWpSN082V0habnc/check15567c.svg');
}

.wpcw_fe_quiz_q_result_incorrect {
    color: #ff794f;
    	background-size: contain;
    background-image: url('https://33d3eaa1341438eb5ef85258c0b5f1e4f15b7c4d.googledrive.com/host/0B-wK1AIkEy6IQWpSN082V0habnc/crossFF794F.svg');
}

.wpcw_fe_quiz_box_full_answers b {
    color: #3A87AD;
}

/* Quiz Types - Specifics */
.wpcw_fe_quiz_q_open input[type="text"] {
    margin-top: 5px;
    width: 80%;
}

.wpcw_fe_quiz_q_open textarea {
    width: 80%;
}

.wpcw_fe_quiz_q_upload_wrapper {
    margin-top: 10px;
}

/* Powered By */
.wpcw_powered_by {
    text-align: right;
    margin: 0 0 10px;
    font-size: 9pt;
}

/* Loader */
.wpcw_loader {
    display: block;
}

.wpcw_fe_submit_loader {
    display: none;
    text-align: center;
}

/* Progress Bars  - Common */
.wpcw_progress_wrap {
    display: block;
}

.wpcw_progress {
    display: inline-block;
    width: 130px;
    margin: 0 auto;
    height: 22px;
    vertical-align: middle;
    padding: 1px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: #efefef;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    background-repeat: repeat-x;
}

.wpcw_progress_bar {
    display: block;
    background-color: #5CB85C;
    width: 0%;
    height: 100%;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    background-color: #5CB85C;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
   	 255, 0.15) ), color-stop(0.25, rgba(0, 0, 0, 0) ),
   	 color-stop(0.5, rgba(0, 0, 0, 0) ),
   	 color-stop(0.5, rgba(255, 255, 255, 0.15) ),
   	 color-stop(0.75, rgba(255, 255, 255, 0.15) ),
   	 color-stop(0.75, rgba(0, 0, 0, 0) ), to(rgba(0, 0, 0, 0) ) );
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
   	 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%,
   	 rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%,
   	 rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) );
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
   	 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
   	 rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
   	 rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15)
   	 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%,
   	 rgba(0, 0, 0, 0) );
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: repeat-x;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.wpcw_progress_percent {
    display: inline-block;
    line-height: 22px;
    margin-left: 4px;
    text-align: center;
}

/* Progress Bars  - Upload */
.wpcw_fe_upload_progress {
    display: none;
    margin: 10px auto 15px;
}

.wpcw_fe_upload_progress .wpcw_progress {
    width: 300px;
    background: #fff;
}

/* Magic Members */

#mgm_eway_form {display:none;}
#mgm_sidebar_loginform label, #registerform label, #loginform label, #profileform label {margin:.5em 0 .5em 0; display:block;}
#mgm_sidebar_loginform input[type="text"], #mgm_sidebar_loginform input[type="password"] {width:100%}
#mgm_sidebar_loginform .facebook_button, #loginform .facebook_button {margin-left: -30px; width: 65px !important;
margin-top: 1em;}

#mgm_sidebar_loginform input[type="submit"] {margin: .5em 0 .5em 0}

.mgm_message {margin-bottom:1em;}
#lostpasswordform label input[type="text"] {margin-top:.5em}
.autoresponder_box {margin-bottom:2em;}
.autoresponder_box label {display:inline-block!important;}

.profile_group_name, .profile_group_contact_info, .profile_group_about_yourself, .profile_group_others {font-size: 16px!important; font-weight:bold; color:#4191bf; display: block; border-bottom: 1px solid #ccc; line-height: 1.4!important; margin-bottom:1em!important; margin-top:1em!important; }


/*Styles for top level pages About Us and Resources*/

#topLevelPage {display: table;}

#topLevelPage ul.subPageListing {
	list-style: none;
	padding: 0;
	padding-top:20px;
	margin: 0px;
/*border: 1px solid #ccc;*/

}

#topLevelPage ul.subPageListing li {
display: inline-block;
list-style: none;
padding-right: 5px;
margin: 0px;
margin-right:.5em;
width: 45%;
vertical-align: top;
}

/*Feature Image Caption for Single Post Pages*/

.featuredImageCaption {
margin-top: 12px;
font-style: italic;
}

/*Hides Registration Free section*/
.free {display:none!important;}

/*Intro steps to Online Learning*/

.quizSteps {font-size:150%;
list-style-position:inside;
margin-left:0px;
margin-bottom:2em!important;

}

.quizSteps header {
font-size: 400%;
line-height: 1em;
margin-bottom: 0.5em;  }

.quizSteps header span.number {
display:inline;  font-family: 'Patua One'; 
margin-right: -.1em;
color:#4191bf; 
font-size:200%;}
.quizSteps header span.text {display:inline-block; line-height:1em;
display: inline;
line-height: 1em;
font-size: 75%;

}

.quizSteps li { margin-bottom:.75em; 
margin-left:0px;
padding-left: 110px;
list-style: none;
margin-bottom:0px;
font-size:75%;
padding-top: 1.25em;
padding-bottom: .75em;
}

.quizSteps li .highlight {
display: block;
font-family: 'Patua One';
color: #4191bf;
font-size: 170%;
line-height: 1em;

 }

.quizSteps li.register, .quizSteps li.takeCourse, .quizSteps li.certificate, .quizSteps li.earn {
background: url(/wp-content/uploads/sites/4/2014/07/01.png);
/*background-color:#ecf0f1;*/
background-repeat: no-repeat; 
background-size:auto 80px;
background-position: 10px center;
}

.quizSteps li.takeCourse {background: url(/wp-content/uploads/sites/4/2014/07/02.png);
background-repeat: no-repeat; 
background-size:auto 80px;
background-position: 10px center;
}
.quizSteps li.certificate{background: url(/wp-content/uploads/sites/4/2014/07/03.png);
background-repeat: no-repeat; 
background-size:auto 80px;
background-position: 10px center;
}
.quizSteps li.earn{background: url(/wp-content/uploads/sites/4/2014/08/04.png);
background-repeat: no-repeat; 
background-size:auto 80px;
background-position: 10px center;
}

/*Transcript Show and Hide*/

#transcriptHeader {
margin-bottom:1em!important; 
border-bottom: 1px solid #ccc; 
padding-bottom: .25em;
}
#transcriptHeader #hideshow {
font-family: 'Oxygen';
font-weight: 400;
font-size: 65%;
cursor: pointer;
padding: 0px 5px 2px 5px;
background-color: #999;
color: #fff;
margin-top: 2px;
display: inline-block;
margin-left: 15px;
position: absolute;
line-height: 20px;
}
#transcriptHeader #hideshow:hover {background-color:#4191bf; color:#fff;}
#transcript {display:none;}


/*Remove author name*/
footer.entry-meta .author-meta {display:none}

/*Hide bottom breadcrumbs*/
.nav-single {display:none;}

/* Resource Page Category Listing */

.lcp_catlist {list-style-type: none; margin:0px; padding:0px; border-bottom: 1px solid #ccc;
padding-bottom: 1em;
margin-bottom: 1em;}

.lcp_catlist li {margin:0px; padding:0px; margin-bottom:.5em;}

.lcp_catlist li .postTitle {
display:block;
margin-bottom:.5em;
font-weight: bold;
text-transform:uppercase;
}
.lcp_catlist li .postThumbnail {
display:inline-block; 
margin-right:10px;
border: 1px solid #ccc;
}
.lcp_catlist li .postExcerpt {
display:inline-block; 
width: 500px;
margin-left: 10px;
margin-bottom: .5em;
}

.readMore {
display: block;
margin-bottom: 1em;
border-bottom: 1px solid #ccc;
padding-bottom: .25em;}

@media (max-width: 1090px) {
#TopContent {
padding-top: 208px;
}
}

@media (max-width: 980px) {
#TopContent {
padding-top: 228px;
}
}

@media (max-width: 767px) {
#TopContent {
padding-top: 0px;
}
}

/*New Register link for new sidebars Sept 2014*/
#joinUs a.regButton {display: block;
text-align: center;
font-size: 1.5em;
line-height: 2em;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
transition: all 0.25s ease; padding:0;
color: #fff; 
}

#joinUs a.regButton:hover {
color:#4191bf;
}

/*Styles form Skin 1 Stylesheet*/
/* Widget Lists, Menu - Sub-menu Items, Tabs */
.widget-area .widget li a { color: #7f8080; }

#listcategorypostswidget-2 em {font-style: normal;}

.widget-area .widget h3 {
font-size: 18px;
line-height: 1.223;
margin-top: 0;
margin-bottom: 22px;
color: #4191bf;
}

#categories-3 h3 em { color: #4191bf; }

#categories-3 em { font-style: normal; }

/*Correct responsive navigation*/
@media screen and (min-width: 768px) {
  #masthead .logo img {
    margin-left: -35px;
}
}

/*Partners page columns*/
  #partnerCols {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
}

/*Course Page Redesign*/

  .courseClear{
    clear: left;
}

  .courseContainer {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: center;
    margin: 25px auto;
    position: relative;
    min-height: 100%;
    overflow-y: hidden;
}

  .courseStep {
    float: left;
    width: 120px;
    padding: 10px;
    border: none;
    text-align: center;
    width: 30%;
}
  .signupButton {
    text-align: center;
    box-shadow: 10px 0px 5px #ddddbc;
    background-color: #BE112F;
    width: 25%;
    color: #ffffff;
}

  #mgm_sidebar_widget_login-2 {
    background-color: #3D91C0;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
}
  #mgm_sidebar_widget_login-2 a {
    color: #ffffff;
}
  #mgm_sidebar_loginform input[type="text"], #mgm_sidebar_loginform input[type="password"] {
    width: 85%;
}
  .widget-area .widget h3 {
    color: #4190BE;
}
  .login-sidebar-links {
    padding-bottom: 15px;
}

/*Toggle open/close course details for MOOCs redesign Feb 2015*/

#courseToggle {
margin-bottom:1em!important; 
border-bottom: 1px solid #ccc; 
padding-bottom: .25em;
}
#courseToggle #hideshow {
font-family: 'Oxygen';
font-weight: 400;
font-size: 65%;
cursor: pointer;
padding: 0px 5px 2px 5px;
background-color: #999;
color: #fff;
margin-top: 2px;
display: inline-block;
margin-left: 15px;
position: absolute;
line-height: 20px;
}
#courseToggle #hideshow:hover {background-color:#4191bf; color:#fff;}
#transcript {display:none;}

/*Yellow get certificate button*/
.getCert {
  color: #ffffff;
  background-color: #FCBE03;
  width: 19%;
  padding: 8px;
  margin-left: 10px;
  text-shadow: 1px 1px 1px #888888;
}

/*Listing for NEW courses*/
 ul.newCourseList {
  list-style: none;
  margin-bottom: 0;
}
 ul.newCourseList li {
  display: inline;
  padding-right: 50px;
}

/*New styling for the FAQ widget*/
#FAQs {background-color:#4191bf; margin-bottom:1em;}
#FAQs section {
   background-color:#ffffff;
   padding:2em;
   padding-top:1em;
   -moz-box-shadow:	inset 0 0 100px rgba(200,200,200,0.1);
   -webkit-box-shadow: inset 0 0 100px rgba(200,200,200,0.1);
   box-shadow:     	inset 0 0 100px rgba(200,200,200,0.1);
}
#FAQs h2 {padding: 0; color:#4191bf!important; background-color:#ffffff; font-size:275%; text-align:center; margin-bottom:0px; line-height:1.25em; text-transform:uppercase;}
#FAQs section p {font-size:130%; color:#fff; line-height:1.5em;}
#FAQs form.wpcf7-form {width:100%; margin:0;}
#FAQs form p {margin-bottom:.5em;}
#FAQs form input {font-size:85%;}
#FAQs form select {width:100%; padding: 0px 5px 0px 10px!important;}

#FAQs a.button {display: block;
background-color: #fff;
text-align: center;
font-size: 1.5em;
line-height: 2em;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
transition: all 0.25s ease; padding:0; 
}

#FAQs a.button:hover {
color:#4191bf;
background-color: #cce8ff;
}

#FAQs .wpcf7 input {width:100%}
background: url(/wp-content/uploads/sites/5/2014/04/downArrow.png) no-repeat right #fff;
   padding: 5px;
   padding-left:10px;
   font-size: 87%;
   line-height: 1;
   border: 0;
   border-radius: 2px;
   height: 38px;
   -webkit-appearance: none;
   color: #b8b8b8;
-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
 }
#FAQs form input[type=text], #joinUs form input[type=email]  {width:100%; background-color: #fff; color:#4191bf;}
#FAQs form input[type=submit]  {width:auto; background-color: #fff; color:#4191bf;}

@media (max-width: 1130px) {
  #FAQs {font-size:75%;}
}

@media (max-width: 890px) {
  #FAQs h2  {font-size:250%;}
}

@media (max-width: 767px) {
  #FAQs {font-size:100%;}
}
/*Button in sidebar widget to navigate back to courses page*/
.btn-courses {
  background: #c40837;
  background-image: -webkit-linear-gradient(top, #c40837, #c40837);
  background-image: -moz-linear-gradient(top, #c40837, #c40837);
  background-image: -ms-linear-gradient(top, #c40837, #c40837);
  background-image: -o-linear-gradient(top, #c40837, #c40837);
  background-image: linear-gradient(to bottom, #c40837, #c40837);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 100%;
}
.btn-courses:hover {
  background: #d10b3c;
  background-image: -webkit-linear-gradient(top, #d10b3c, #d10b3c);
  background-image: -moz-linear-gradient(top, #d10b3c, #d10b3c);
  background-image: -ms-linear-gradient(top, #d10b3c, #d10b3c);
  background-image: -o-linear-gradient(top, #d10b3c, #d10b3c);
  background-image: linear-gradient(to bottom, #d10b3c, #d10b3c);
  text-decoration: none;
}
@media screen and (max-width: 1287px) {
    .btn-courses {
        font-size: 14px;
        padding: 2px 5px 2px 5px;
    }
}
@media screen and (max-width: 1082px) {
    .btn-courses {
        font-size: 12px;
        padding: 1px 2px 1px 2px;
    }
}
@media screen and (max-width: 945px) {
    .btn-courses {
        font-size: 12px;
        padding: 2px;
        white-space: nowrap;
    }
}
@media screen and (max-width: 826px) {
    .btn-courses {
        font-size: 10px;
        padding: 2px;
        white-space: nowrap;
    }
}
/*Button for quizzes*/
.btn-quiz {
  background: #FCBE03;
  background-image: -webkit-linear-gradient(top, #FCBE03, #f0b505);
  background-image: -moz-linear-gradient(top, #FCBE03, #f0b505);
  background-image: -ms-linear-gradient(top, #FCBE03, #f0b505);
  background-image: -o-linear-gradient(top, #FCBE03, #f0b505);
  background-image: linear-gradient(to bottom, #FCBE03, #f0b505);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 1px #8f8d8f;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 100%;
}

.btn-quiz:hover {
  background: #fad050;
  background-image: -webkit-linear-gradient(top, #fad050, #fac32d);
  background-image: -moz-linear-gradient(top, #fad050, #fac32d);
  background-image: -ms-linear-gradient(top, #fad050, #fac32d);
  background-image: -o-linear-gradient(top, #fad050, #fac32d);
  background-image: linear-gradient(to bottom, #fad050, #fac32d);
  text-decoration: none;
}
@media screen and (max-width: 1208px) {
    .btn-quiz {
        font-size: 16px;
        padding: 2px 5px 2px 5px;
    }
}
@media screen and (max-width: 1060px) {
    .btn-quiz {
        font-size: 14px;
        padding: 2px;
    }
}
@media screen and (max-width: 926px) {
    .btn-quiz {
        font-size: 12px;
        padding: 2px;
    }
}
@media screen and (max-width: 813px) {
    .btn-quiz {
        font-size: 12px;
        padding: 2px;
        white-space: nowrap;
    }
}

/*Styles for Formidable forms*/
.correct:after {
    margin-left: 0.4em;
    font-size: 1.5em;
    color: #11c92f;
    content: '\2713';
}

.incorrect:after {
    margin-left: 0.4em;
    font-size: 1.5em;
    color: #ee0d0d;
    content: '\2717' 'Try again';
}

.answer-all-msg {
    font-size: .7em;
    color:  #ee0d0d;
    font-style: italic;
    margin-bottom: 1em;
}
  
/*Formidable forms*/
.with_frm_style label{font-size:12px;float:none;text-align:left;margin:0;padding:0;width:auto;}
.with_frm_style label.frm_primary_label{font-weight:bold;display:block;}
.with_frm_style .frm_top_container label.frm_primary_label{display:block;float:none;width:auto;}
.with_frm_style .frm_left_container label.frm_primary_label{float:left;padding-right:10px;width:150px;}
.with_frm_style .frm_right_container label.frm_primary_label{float:right;padding-left:10px;width:150px;}
.with_frm_style .frm_none_container label.frm_primary_label{display:none;}
.with_frm_style .frm_hidden_container label.frm_primary_label{visibility:hidden;}
.with_frm_style .frm_inline_container label.frm_primary_label, .with_frm_style .frm_inline_container .frm_opt_container {display:inline;padding-right:10px;}
.with_frm_style .horizontal_radio .frm_checkbox, .with_frm_style .horizontal_radio .frm_radio {margin-right:5px;}
.with_frm_style .form-field, .with_frm_style .frm_form_field{margin-bottom:15px;}
.with_frm_style .frm_blank_field label, .with_frm_style .frm_error{color:#be2e17;}
.with_frm_style .frm_blank_field input, .with_frm_style .frm_blank_field textarea, .with_frm_style .frm_blank_field select, .with_frm_style .frm_blank_field #recaptcha_area{border:1px solid #be2e17;}
.with_frm_style .frm_required{color:#B94A48;font-weight:bold;}
.with_frm_style .frm_checkbox, .with_frm_style .frm_radio{display:block;margin:0;}
.with_frm_style .frm_left_container .frm_checkbox, .with_frm_style .frm_left_container .frm_radio{margin-left:160px;}
.with_frm_style fieldset{border:none;margin:0;padding:0;}
.with_frm_style p.frm_submit{padding-top:20px;padding-bottom:20px;}
.with_frm_style p.description, .with_frm_style div.description, .with_frm_style .frm_description, .with_frm_style .frm_error{margin:0;padding:0;font-size:11px;font-weight:normal;text-align:left;font-style:normal;clear:both;}
.with_frm_style .frm_left_container .description, .with_frm_style .frm_left_container .frm_error, .with_frm_style .frm_left_container .frm_description{margin-left:160px;}
.with_frm_style .frm_error{font-weight:bold;}
.with_frm_style .frm_form_fields input, .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields textarea{font-size:13px;margin-bottom:0;}
.with_frm_style .frm_form_fields input, #wpcontent .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields textarea{border-width:1px;border-style:solid;width:400px;max-width:100%;font-size:13px;padding:2px;}
.with_frm_style .frm_form_fields input.auto_width, .with_frm_style .frm_form_fields select.auto_width, .with_frm_style .frm_form_fields textarea.auto_width{width:auto;}
.frm_set_select .with_frm_style .frm_form_fields select, .frm_set_select .with_frm_style .frm_form_fields select.auto_width{width:95%;}
.with_frm_style .frm_radio label, .with_frm_style .frm_checkbox label{display:inline;}
.with_frm_style input[type="radio"], .with_frm_style input[type="checkbox"]{width:auto;margin-right:3px;}
.with_frm_style .frm_error_style, .with_frm_style .frm_message{padding:15px;font-size:14px;margin:5px 0 15px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.with_frm_style .frm_message, .with_frm_style .frm_message p{font-size:14px;color:#468847;}
.with_frm_style .frm_message{border:1px solid #D6E9C6;background-color:#DFF0D8;}
.with_frm_style .frm_message p{margin-bottom:5px;}
.with_frm_style .frm_error_style{color:#B94A48;border:1px solid #EBCCD1;background-color:#F2DEDE;}
.with_frm_style .frm_default, .with_frm_style .placeholder{font-style:italic;}
.frm_ajax_loading{visibility:hidden;}

.frm_forms.with_frm_style{max-width:98%;}
.frm_form_field.frm_third, .frm_form_field.frm_fourth, .frm_form_field.frm_fifth, .frm_form_field.frm_inline{clear:none;float:left;}
.frm_form_field.frm_left_half, .frm_form_field.frm_left_third, .frm_form_field.frm_left_two_thirds, .frm_form_field.frm_left_fourth, .frm_form_field.frm_left_fifth, .frm_form_field.frm_left_inline, .frm_form_field.frm_first_half, .frm_form_field.frm_first_third, .frm_form_field.frm_first_two_thirds, .frm_form_field.frm_first_fourth, .frm_form_field.frm_first_fifth, .frm_form_field.frm_first_inline{clear:left;float:left;}
.frm_form_field.frm_right_half, .frm_form_field.frm_right_third, .frm_form_field.frm_right_two_thirds, .frm_form_field.frm_right_fourth, .frm_form_field.frm_right_fifth, .frm_form_field.frm_right_inline, .frm_form_field.frm_last_half, .frm_form_field.frm_last_third, .frm_form_field.frm_last_two_thirds, .frm_form_field.frm_last_fourth, .frm_form_field.frm_last_fifth, .frm_form_field.frm_last_inline{clear:none;float:right;}
.frm_form_field.frm_left_half, .frm_form_field.frm_right_half, .frm_form_field.frm_first_half, .frm_form_field.frm_last_half{width:48%;}
.frm_form_field.frm_left_half, .frm_form_field.frm_first_half{margin-right:4%;}
.frm_form_field.frm_left_half.frm_left_container .frm_primary_label, .frm_form_field.frm_right_half.frm_left_container .frm_primary_label, .frm_form_field.frm_left_half.frm_right_container .frm_primary_label, .frm_form_field.frm_right_half.frm_right_container .frm_primary_label, .frm_form_field.frm_first_half.frm_left_container .frm_primary_label, .frm_form_field.frm_last_half.frm_left_container .frm_primary_label, .frm_form_field.frm_first_half.frm_right_container .frm_primary_label, .frm_form_field.frm_last_half.frm_right_container .frm_primary_label{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:25%;margin-right:0;margin-left:0;}
.frm_form_field.frm_left_half.frm_left_container .frm_primary_label, .frm_form_field.frm_right_half.frm_left_container .frm_primary_label, .frm_form_field.frm_first_half.frm_left_container .frm_primary_label, .frm_form_field.frm_last_half.frm_left_container .frm_primary_label{padding-right:10px;}
.frm_form_field.frm_left_half.frm_right_container .frm_primary_label, .frm_form_field.frm_right_half.frm_right_container .frm_primary_label, .frm_form_field.frm_first_half.frm_right_container .frm_primary_label, .frm_form_field.frm_last_half.frm_right_container .frm_primary_label{padding-left:10px;}
.frm_form_field.frm_left_container input, .frm_form_field.frm_left_container select, .frm_form_field.frm_left_container textarea, .frm_form_field.frm_right_container input, .frm_form_field.frm_right_container select, .frm_form_field.frm_right_container textarea{max-width:75%;}
.frm_form_field.frm_left_third, .frm_form_field.frm_third, .frm_form_field.frm_right_third, .frm_form_field.frm_first_third, .frm_form_field.frm_last_third{width:30%;}
.frm_form_field.frm_left_two_thirds, .frm_form_field.frm_right_two_thirds, .frm_form_field.frm_first_two_thirds, .frm_form_field.frm_last_two_thirds {width:60%;}
.frm_form_field.frm_left_third, .frm_form_field.frm_first_third, .frm_form_field.frm_third, .frm_form_field.frm_left_two_thirds, .frm_form_field.frm_first_two_thirds {margin-right:5%;}
.frm_form_field.frm_left_fourth, .frm_form_field.frm_fourth, .frm_form_field.frm_right_fourth, .frm_form_field.frm_first_fourth, .frm_form_field.frm_last_fourth{width:22%;}
.frm_form_field.frm_left_fourth, .frm_form_field.frm_fourth, .frm_form_field.frm_first_fourth{margin-right:4%;}
.frm_form_field.frm_left_fifth, .frm_form_field.frm_fifth, .frm_form_field.frm_right_fifth, .frm_form_field.frm_first_fifth, .frm_form_field.frm_last_fifth{width:16%;}
.frm_form_field.frm_left_fifth, .frm_form_field.frm_fifth, .frm_form_field.frm_first_fifth{margin-right:5%;}
.frm_form_field.frm_left_inline, .frm_form_field.frm_first_inline, .frm_form_field.frm_inline, .frm_form_field.frm_right_inline, .frm_form_field.frm_last_inline{width:auto;}
.frm_form_field.frm_left_inline, .frm_form_field.frm_first_inline, .frm_form_field.frm_inline{margin-right:4%;}
.frm_full, .frm_full input, .frm_full select, .frm_full textarea{width:100% !important;}
.frm_full .wp-editor-wrap input{width:auto !important;}
.frm_form_field.frm_two_col .frm_radio, .frm_form_field.frm_three_col .frm_radio, .frm_form_field.frm_four_col .frm_radio, .frm_form_field.frm_two_col .frm_checkbox, .frm_form_field.frm_three_col .frm_checkbox, .frm_form_field.frm_four_col .frm_checkbox {float:left; margin-right:5px;}
.frm_form_field.frm_two_col .frm_radio, .frm_form_field.frm_two_col .frm_checkbox {width:45%;}
.frm_form_field.frm_three_col .frm_radio, .frm_form_field.frm_three_col .frm_checkbox {width:30%;}
.frm_form_field.frm_four_col .frm_radio, .frm_form_field.frm_four_col .frm_checkbox  {width:20%; margin-right:3px;}
.frm_form_field.frm_two_col .frm_opt_container, .frm_form_field.frm_three_col .frm_opt_container, .frm_form_field.frm_four_col .frm_opt_container{background:none;}
.frm_form_field.frm_scroll_box .frm_opt_container{height: 100px; overflow:auto;}
.frm_form_field.frm_two_col .frm_opt_container:after, .frm_form_field.frm_three_col .frm_opt_container:after, .frm_form_field.frm_four_col .frm_opt_container:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.frm_form_field.frm_total input, .frm_form_field.frm_total textarea{opacity:1;background-color:transparent;border:none;font-weight:bold;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.with_frm_style .frm_inline_container.frm_grid_first label.frm_primary_label, .with_frm_style .frm_inline_container.frm_grid label.frm_primary_label, .with_frm_style .frm_inline_container.frm_grid_odd label.frm_primary_label, .with_frm_style .frm_inline_container.frm_grid_first .frm_opt_container, .with_frm_style .frm_inline_container.frm_grid .frm_opt_container, .with_frm_style .frm_inline_container.frm_grid_odd .frm_opt_container {margin-right:0;}

.frm_text_block{margin-left:20px;}
.frm_text_block input, .frm_text_block label.frm_primary_label{margin-left:-20px;}
.frm_text_block .frm_checkbox input[type=checkbox], .frm_text_block .frm_radio input[type=radio]{margin-right:4px;}
.frm_clearfix:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.frm_clearfix{display: inline-block;}
html[xmlns] .frm_clearfix{display: block;}
* html .frm_clearfix{height:1%;}

/*Re-styling of JoinUs div for expanded form*/
#formExpanded {background-color:#4191bf; margin-bottom:1em;}
#formExpanded section {
   background-color:#4191bf;
   padding:2em;
   padding-top:1em;
   -moz-box-shadow:	inset 0 0 100px rgba(200,200,200,0.1);
   -webkit-box-shadow: inset 0 0 100px rgba(200,200,200,0.1);
   box-shadow:     	inset 0 0 100px rgba(200,200,200,0.1);
}
#formExpanded h2 {padding: 0em 1em 0em 1em; color:#fff!important; background-color:#4191bf; font-size:275%; text-align:center; margin-bottom:0px; line-height:1.25em; text-transform:uppercase;}
#formExpanded section p {font-size:130%; color:#fff; line-height:1.5em;}
#formExpanded form.wpcf7-form {width:auto; margin:0;}
#formExpanded form p {margin-bottom:.5em;}
#formExpanded form input {width; auto; font-size:85%; height: 30px;}
#formExpanded form select {width:auto; padding-left: 10px!important;}

#formExpanded a.button {display: block;
background-color: #fff;
text-align: center;
font-size: 1.5em;
line-height: 2em;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
transition: all 0.25s ease; padding:0; 
}

#formExpanded a.button:hover {
color:#4191bf;
background-color: #cce8ff;
}

#formExpanded .wpcf7 input {width:100%}
background: url(/wp-content/uploads/sites/5/2014/04/downArrow.png) no-repeat right #fff;
   padding: 5px;
   padding-left:10px;
   font-size: 87%;
   line-height: 1;
   border: 0;
   border-radius: 2px;
   height: 38px;
   -webkit-appearance: none;
   color: #b8b8b8;
-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
 }
#formExpanded form input[type=text], #formExpanded form input[type=email]  {width:auto; background-color: #fff; color:#4191bf;}
#formExpanded form input[type=submit]  {width:auto; background-color: #fff; color:#4191bf;}

#formExpanded .with_frm_style label.frm_primary_label {color: #ffffff;}

#formExpanded .frm_checkbox label {color: #ffffff;}

@media (max-width: 1130px) {
  #formExpanded {font-size:75%;}
}

@media (max-width: 890px) {
  #formExpanded h2  {font-size:250%;}
}

@media (max-width: 767px) {
  #formExpanded {font-size:100%;}
}

.text-field-exp {
  height: 25px;
}
/*General Purpose Red Box for highlighting content*/
.red-box {
  background: #c40837;
  background-image: -webkit-linear-gradient(top, #c40837, #99062b);
  background-image: -moz-linear-gradient(top, #c40837, #99062b);
  background-image: -ms-linear-gradient(top, #c40837, #99062b);
  background-image: -o-linear-gradient(top, #c40837, #99062b);
  background-image: linear-gradient(to bottom, #c40837, #99062b);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 4px #666666;
  -moz-box-shadow: 1px 1px 4px #666666;
  box-shadow: 1px 1px 4px #666666;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 70px;
  text-decoration: none;
  width: auto;
}

#categories-3 h3 {
  color: #4191bf;
}

#listcategorypostswidget-16 h3 {
  color: #4191bf;
}

#text-109 h3 {
  color: #4191bf;
}

#text-111 h3 {
  color: #4191bf;
}