{% extends 'base.twig' %}

{% block content %}


<!-- This is considered the 'Blog' Page -->
<section class='hero hero--bg_img' style='background-image: url("{{ header_url }}"); background-size: cover;'>
    <div class='hero-inner bottom_padd bottom_padd--thin'>
    	<div class='hero-content ui container'>
    		<h1 class='hero-h1'>{{ page_data.title.rendered }}</h1>
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    	</div>
    </div>
</section>

<section class='ui container'>
	<div class='inner-container learning_wrapper'>

		{% include '/content_blocks/all_posts_filter/all_posts_filter.twig' with
			{
				title: 'Learning with YALI',
				filters: ['content_type', 'subject', 'series', 'language', 'sort'],
				content_types: ['Article', 'Course', 'Podcast', 'Video'],
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 1 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 2 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 3 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 4 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 5 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 6 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 7 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 8 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 9 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 10 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 11 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 12 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 13 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 14 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					}
				]
			}
		%}

		<section class='section social'>
      {{ social_block }}
    </section>

    <section class='section learning_faqs'>
      {{ courses_faq }}
    </section>

	</div>
</section>

{% endblock %}
