{% extends 'base.twig' %}

{% block content %}

<section class='ui container'>
	<div class='inner-container certificate_confirmation'>
		<h1 class='conf_title'>Your certificate is on its way!</h1>
		<section class='conf_content_wrapper'>
			<div class='conf_content'>
				<h3 class='conf_content_headline'>Check your email for your certificate.</h3>
				<p>Your certificate has been emailed to you as ~200kb PNG attachment at the address you
					provided. If you don't see the email in your inbox, please check your Spam/Junk folder.
					Yahoo users, please read <a href='#'>how to enable images</a> to download your certificate.</p>
			</div>
			<div class='conf_content'>
				<h3 class='conf_content_headline'>What's next?</h3>
				<p>Choose another <a href='/learning/courses'>online course</a> and earn additional certificates!
					Ready to take the next step? Share the courses and meet other YALI Network members in your
					community <a href='#'>yali.state.gov/learns</a></p>
			</div>
		</section>

		<section class='section conf_faqs'>
			<div class='accordion_layout'>
				<div class='ui styled accordion'>
					<h3 class='title'>YALI Network Online Courses: How-to</h3>
					<div class='content'>
						<p>
							<i>Having technical trouble? Didn't receive your certificate? Please report the issue here:
							<a href='/troubleshoot'>yali.state.gov/troubleshoot</a></i>.
						</p>

						<p class='text_bold'>Do I have to be a member of the YALI Network to take a Course?</p>
						<p>No. Anyone with Internet access can take the courses. However the courses are intended for young professionals with at least a secondary level education. They are designed to advance practical knowledge of Business & Entrepreneurship, Leadership, Public Management and Civic Leadership.</p>
						<p>The YALI Network stems from the Young African Leaders Initiative (YALI) — a signature effort to invest in the next generation of African entrepreneurs, educators, activists and innovators. To join the YALI Network visit yali.state.gov.</p>

						<p class='text_bold'>How do I take a YALI Network online course?</p>
						<p>Go to <a href='/troubleshoot'>yali.state.gov/courses</a>. Once there:</p>
						<ul>
							<li>Choose a course by clicking on the title. Select individual lessons from each course and click “Go to lesson”</li>
							<li>Select the appropriate tab to watch the video, listen to the audio, or read the transcript for each lesson in a course. Each course contains 3-4 lessons, as listed on the Online Courses page.</li>
							<li>After reviewing all the lessons in a course, click on the yellow button to “Pass the Quiz & Get Your Certificate.” This will take you to the course quiz.</li>
							<li>The quiz includes questions from each lesson in the course. Answer every question correctly and press “Check answers” to advance to the certificate page. If any questions are incorrect, you will be prompted to “Try again” and re-answer only those questions.</li>
							<li>Complete the required fields and press “Get Your Certificate” to get a customized YALI Network certificate for that course. The certificate will be emailed to you as an attachment.</li>
						</ul>

						<p class='text_bold'>Do I have to pay a fee in order to take a course?</p>
						<p>No. The YALI Network online courses are free to anyone with an Internet connection.</p>

						<p class='text_bold'>Do I need a username and password to take a course?</p>
						<p>No. You do not need to login with a username and password to take the course and the quiz. After you pass the quiz, you will need to complete a form in order to receive your customized certificate.</p>

						<p class='text_bold'>The video is not working.</p>
						<p>Please try reloading the page and see if that helps. If not, you could try playing the video at a time or in a place when you know you will have ample bandwidth. Alternately, you could listen to the audio file or read the transcript.</p>
					</div>

					<h3 class='title'>Online Course Certificates</h3>
					<div class='content'>
						<p class='text_bold'>Once I’ve completed a YALI Network online course and passed the quiz, how do I get a copy of my certificate?</p>
						<p>After you’ve completed and submitted the form to customize your certificate, an email will be sent to the address you provided. Your course certificate will be attached. You also have the option to view the certificate in your browser immediately after completing and submitting the form and download a PDF copy.</p>
						<p class='text_bold'>Can I change the name on my certificate after it is issued?</p>
						<p>No. You will not be able to modify the certificate once you have completed and submitted the customization form. You can retake the quiz to get a certificate with a different name.</p>
						<p class='text_bold'>What are the benefits of earning a YALI certificate?</p>
						<p>A YALI certificate does not earn credit toward an academic degree, but it shows you and others that you have the desire to learn and grow your capabilities.</p>
						<p class='text_bold'>Are the certificates recognized by universities?</p>
						<p>No, the certificates do not represent academic credit and are not recognized by any universities.</p>
						<p class='text_bold'>When will I receive my certificate?</p>
						<p>After you have passed the quiz at the end of each course, you should receive an email with your certificate attached as a .png image. If you do not receive it, check your spam or junk email folders. Sometimes email systems receiving a message from a new sender put those emails in these folders as a precaution.</p>
					</div>

					<h3 class='title'>General YALI Online Courses Questions</h3>
					<div class='content'>
						<p class='text_bold'>Are there more course selections?</p>
						<p>We hope to be able to offer additional courses in the future. Please feel free to let us know what topics you would like to see.</p>
						<p class='text_bold'>Are there study groups for these courses?</p>
						<p>We have not created study groups, but you certainly may organize one yourself. Likewise, you may wish to use these courses as discussion topics for <a href='#'>YALI Network face2face</a> event using the discussion guides that are included on each course page.</p>
						<p class='text_bold'>I would like to present a course. How can I do so?</p>
						<p>The YALI Network can’t officially designate someone as a presenter on these courses, but if you’d like to lead a discussion on one of these topics, we recommend you organize a <a href='#'>YALI Network face2face</a> event and use the discussion guides that are included on each course page to guide the conversation.</p>
						<p class='text_bold'>How can I share these courses with my friends?</p>
						<p>Please let your friends and colleagues know about these courses. You can email the course page to your friends or share it on Facebook, Twitter or LinkedIn. If they wish to take the courses and receive a certificate, they can do so at yali.state.gov/courses.</p>
						<p class='text_bold'>Can I translate the online course material into a local language?</p>
						<p>Yes. You may translate the course transcript, discussion guides, quizzes and tests. You are fully responsible for this work and the YALI Network and U.S. Department of State can provide no support for this effort. Any translated materials must be distributed only by you and must not be placed on any YALI Network website, Facebook or Twitter platform.</p>
					</div>
				</div>
			</div>
		</section>

		<section>{{ social_block }}</section>

	</div>
</section>

{% endblock %}
