<nav class='nav wrapper'>
	<ul style="display: block; clear: both;">
	{% for key, value in footer_menu['items'] %}
		<li class='nav-item'>
			<a href="{{ footer_menu['items'][key].url }}">{{ footer_menu['items'][key].title | raw }}</a>
			{% if footer_menu['items'][key].children %}
				<ul class='sub-menu'>
				{% for x in footer_menu['items'][key].children %}
					<li class='sub-menu-item'><a href="{{ x.url }}">{{ x.title }}</a></li>					
				{% endfor %}
				</ul>
			{% endif %}
		</li>		
	{% endfor %}
	</ul>
</nav>