<!-- <nav class='nav'>
	<ul>
	{% for key, value in header_menu['items'] %}
		<li class='nav-item'>
			<a href="{{ header_menu['items'][key].url }}">{{ header_menu['items'][key].title }}</a>
			{% if header_menu['items'][key].children %}
				<ul class='sub-menu'>
				{% for x in header_menu['items'][key].children %}
					<li class='sub-menu-item'>
						<a href="{{ x.url }}">{{ x.title }}</a>
					</li>					
				{% endfor %}
				</ul>
			{% endif %}
		</li>		
	{% endfor %}
	</ul>
</nav> -->

<!-- Shawn - Header -->
<nav class='nav ui top fixed menu'>
	<div class='nav_wrapper'>				
		<a href='/yalinav' class='nav_siteurl'>
			<div class='img_placeholder'>
				<img src="assets/img/yali_logo_mark.svg">
			</div>				
			<span href='/yalinav'>Young African Leaders Initiative</span>
		</a>
		<div class='nav_right'>
			<div class='nav_join nav_join--mobile'>
				<p>JOIN THE NETWORK</p>
			</div>
			<ul class='nav_menu'>
				<span class='opaque_bg'></span>
				<li class='nav_menu_item ui dropdown'>					
					<div class='nav_menu_item_title-wrapper'>
						<span>YALI is </span>
						<span class='menuDropdown downArrow'></span>
					</div>
					<ul class='nav_menu_submenu menu'>
						<span class='opaque_bg'></span>
						<li class='nav_menu_submenu_item item'><a href="#">YALI Network</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">Mandela Washington Fellowship</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">Regional Leadership Centers</a></li>
					</ul>
				</li>
				<li class='nav_menu_item ui dropdown'>					
					<div class='nav_menu_item_title-wrapper'>
						<span>Action </span>
						<span class='menuDropdown downArrow'></span>
					</div>
					<ul class='nav_menu_submenu menu'>
						<span class='opaque_bg'></span>
						<li class='nav_menu_submenu_item item'><a href="#">#Africa4Her</a></li>						
						<li class='nav_menu_submenu_item item'><a href="#">#YALIGoesGreen</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">#YALIStands4All</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">#YALIUnites</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">#YALIVotes</a></li>
					</ul>
				</li>				
				<li class='nav_menu_item ui dropdown'>					
					<div class='nav_menu_item_title-wrapper'>
						<span>Learning </span>
						<span class='menuDropdown downArrow'></span>
					</div>
					<ul class='nav_menu_submenu menu'>
						<span class='opaque_bg'></span>
						<li class='nav_menu_submenu_item item'><a href="#">Courses</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">Professional Development</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">YALI Voices</a></li>
					</ul>
				</li>
				<li class='nav_menu_item ui dropdown'>					
					<div class='nav_menu_item_title-wrapper'>
						<span>In-person </span>
						<span class='menuDropdown downArrow'></span>
					</div>
					<ul class='nav_menu_submenu menu'>
						<span class='opaque_bg'></span>
						<li class='nav_menu_submenu_item item'><a href="#">YALI Learns</a></li>
						<li class='nav_menu_submenu_item item'><a href="#">Connect with Members</a></li>
					</ul>
				</li>
				<li class='nav_join nav_join--desktop'>
					<p>JOIN THE NETWORK</p>
				</li>					
				<li class='nav_menu_item nav_menu_item--search ui search'>
					<div class='search_wrapper'>
						<input type='text' placeholder='Search Placeholder'>
						<span class='search-icon_wrapper'>
							<i class='search icon'></i>	
						</span>							
					</div>						
				</li>
				<li class='nav_menu_item nav_menu_item--social'>
					<div>
						<p>Stay Connected with us:</p>
						<i class='facebook f icon'></i>
						<i class='linkedin icon'></i>
						<i class='twitter icon'></i>
					</div>
				</li>
			</ul>				
		</div>
	</div><!-- nav_right -->

	<div class='burger'>
		<span></span>
		<span></span>
		<span></span>
	</div>		
</nav>