<nav class='nav'>
	<ul>
	{% for key, value in header_menu['items'] %}
		<li class='nav-item'>
			<a href="{{ header_menu['items'][key].url }}">{{ header_menu['items'][key].title }}</a>
			{% if header_menu['items'][key].children %}
				<ul class='sub-menu'>
				{% for x in header_menu['items'][key].children %}
					<li class='sub-menu-item'>
						<a href="{{ x.url }}">{{ x.title }}</a>
					</li>					
				{% endfor %}
				</ul>
			{% endif %}
		</li>		
	{% endfor %}
	</ul>
</nav>