<form class='ui form join'>
	<div class='join_wrapper'>
		<h5 class='join_intro'>
			Join the YALI Network<span class='text_break'> and receive updates and<span class='text_break'> opportunities to<span class='text_break'> collaborate with young<span class='text_break'> leaders across Africa.
		</h5>			
		<div class='field'>									
			<input type='text' placeholder='First Name'>
		</div>
		<div class='field'>									
			<input type='text' placeholder='Last Name'>
		</div>
		<div class='field'>									
			<input type='email' placeholder='Email Address'>
		</div>
		<input type='submit' class='ui button join_submit' value='Join the Network!'>
		<span class='close close--join_form'></span>
	</div>
</form>