<form class='ui form join'>
	<span class='upArrow upArrow--joinForm'></span>
	<div class='join_wrapper'>
		<h5 class='join_intro'>
			Join the YALI Network<span class='text_break--joinForm'> and receive updates and<span class='text_break--joinForm'> opportunities to<span class='text_break--joinForm'> collaborate with young<span class='text_break--joinForm'> leaders across Africa.
		</h5>			
		<div class='field'>									
			<input type='text' placeholder='First Name'>
		</div>
		<div class='field'>									
			<input type='text' placeholder='Last Name'>
		</div>
		<div class='field'>									
			<input type='email' placeholder='Email Address'>
		</div>
		<select class='join_select hide_on_init'>
			<option value='disabled'>Choose Country</option>
			<option>Country 1</option>
			<option>Country 2</option>
			<option>Country 3</option>
		</select>
		<div class='join_interests hide_on_init'>
			<p class='join_interests_title'>I'm interested in:</p>
			<div class='join_interests_chkbx_wrapper'>			
				<div class='ui checkbox'>
					<input type='checkbox' name='Interest 1'>
					<label>Interest 1</label>
				</div>
				<div class='ui checkbox'>
					<input type='checkbox' name='Interest 2'>
					<label>Interest 2</label>
				</div>
			</div><!-- join_interests_chkbx_wrapper -->
			<div class='join_interests_chkbx_wrapper'>
				<div class='ui checkbox'>
					<input type='checkbox' name='Interest 3'>
					<label>Interest 3</label>
				</div>
				<div class='ui checkbox'>
					<input type='checkbox' name='Interest 4'>
					<label>Interest 4</label>
				</div>
			</div><!-- join_interests_chkbx_wrapper -->
		</div>

		<input type='submit' class='ui button join_submit' value='Join the Network!'>
		<span class='close close--join_form'></span>
	</div>
</form>