<div class='main-content'>
	{% for item in blog_list['data'] %}
		{% include 'content/post_list_item.twig' %}
	{% endfor %}

	<div class='pagination' style='padding: 25px 0;'>
		{% for i in 1..blog_list['total_pages'] %}
		<a href="{{ site_url() }}/resources/blog/{{ i }}" class='pagination-page'>{{ i }}</a>
		{% endfor %}
	</div>
</div>