<div class='sidebar sidebar--home'>{{ home_sidebar_right['rendered'] | raw }}</div>
<div class='main-content main-content--home'>
	<section>
		{{ page_data["content"]["rendered"] | raw }}
		
		{% if is_home() %}					
			{% include 'content/home/homepage.twig' %}
		{% endif %}	
	</section>			
</div>