<div class='main-content'>
	{% for item in blog_list['data'] %}
		{% include 'content/post_list_item.twig' %}
	{% endfor %}

	{% if is_archive() %}
		{% include 'content/pagination/pagination_archive.twig' %}
	{% else %}
		{% include 'content/pagination/pagination_blog.twig' %}
	{% endif %}
</div>

{% include 'sidebar.twig' %}