{% if is_home() %}
	{% include 'sidebar.twig' %}
{% endif %}

<div class='main-content {{ is_home() ? "main-content--gutter-left" : "main-content--gutter-right" }}'>
	<section>
		{{ page_data["content"]["rendered"] | raw }}
		
		{% if is_home() %}					
			{% include 'content/home/homepage.twig' %}
		{% endif %}	
	</section>			
</div>

{% if not is_home() %}
	{% include 'sidebar.twig' %}
{% endif %}