// Styling for courses page template
.lead-in {
  max-width: 1300px;
  padding: 0 50px;
  @media screen and (max-width: 933px) {
    padding: 0;
  }
}

.course-page-lead-in {
  padding-top: 22px;
  margin-bottom: 0px;
}

// Styling for embedded Courses Module
// Course pages
.course-intro-text {

  > h1 {
    font-size: em(30);
    @media screen and (max-width: 933px) {
      font-size: em(25, $mobile);
    }
  }

  > p {
    font-size: em(18);
    @media screen and (max-width: 933px) {
      font-size: em(16, $mobile);
    }
  }
}

ul.steps-list {
  font-size: em(18);
}

.lessons-list {

  > header > h3 {
    font-size: em(25);
  }
}

.lessons-list-item .media-object header {
  display: block;
}

.lessons-list-item .media-object .media-object-description p:nth-child(2),
.lessons-list-item .media-object .media-object-description p:nth-child(3),
.lessons-list-item .media-object .media-object-description p:nth-child(4) {
  display: none;
}

.media-object {

  > a > img {
    margin-top: 1em;
  }
}

.media-object-title {
  font-size: em(20);
  padding-top: 22px;
}

.media-object-subtitle {
  font-size: em(18);
}

.media-object-description {

  > p {
    font-size: em(18);
  }
}

li.lessons-list-item {
  margin-bottom: 0;
}

.lessons-list-item {

  > a {
    font-size: em(16);
  }
}

.lessons-list-item::before {
  left: -2.4em !important;
  top: 33.5% !important;
}

.instructors-list {

  > header > h3 {
    font-size: em(30);
  }
}

.instructors-list > div.media-object {
  margin-bottom: 20px;
}

h5.media-object-subtitle {
  font-size: em(16);
  @media screen and (max-width: 933px) {
    font-size: em(14, $mobile);
  }
  font-weight: 400;
}

// Lessons pages
.lesson .lesson-title {
  font-size: em(30);
  @media screen and (max-width: 933px) {
    font-size: em(25, $mobile);
  }
}

.lesson .glossary {
  @media screen and (min-width: 1024px) {
    margin-left: 1em !important;
  }
}

.lesson .glossary {
  margin-bottom: 1em !important;
}

ul.collapse.glossary-content {
  padding-left: 0;
  font-size: em(18);
}

.glossary-title {
  font-size: em(25);

  margin-left: 0 !important;
  line-height: 1.2em !important;
}

li.glossary-item {

  > p {
    font-size: em(18);
    @media screen and (max-width: 933px) {
      font-size: em(16, $mobile);
    }
    @media screen and (max-width: 330px) {
      font-size: em(14, $mobile);
    }
  }
}

.ReactTabs__TabPanel {
  margin-bottom: 20px;

  div > p {
    font-size: em(18);
    @media screen and (max-width: 933px) {
      font-size: em(16, $mobile);
    }
    @media screen and (max-width: 330px) {
      font-size: em(14, $mobile);
    }
  }
}

ul {

  &.lesson-pagination {
    font-size: em(18);
  }

  &.ReactTabs__TabList {
    font-size: em(18);
  }
}

#course-container ul.lesson-pagination {
  margin-top: 5px;
}

.page-content > #course-container {
  bottom: 20px;
}

// Quiz page
h3.quiz-instructions {
  font-size: em(30);
}

.quiz-question-text > p {
    font-size: em(18);
}

ol.quiz-questions {
  font-size: em(16);
  @media screen and (max-width: 933px) {
    font-size: em(12, $mobile);
  }
}

#formQuiz input[type="submit"] {
  background-color: #192856 !important;
  border: none;
  padding: 15px;
  font-size: em(20);
}

// Instructor page
h1.instructor-title {
  font-size: em(30);
}

h3.instructor-subtitle {
  font-size: em(20);
}

.instructor-image {
  margin-top: 12px !important;
}

div.instructor-description {
  margin-bottom: 20px;
}

.instructor-description > p {
  font-size: em(18);
}

.react-course {
	.topics[class*="Course__categories___"] {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.topics-label {
		font-weight: bold;
	}
}