.cta_link {
	display: block;
	max-width: 400px;
	padding: 25px;
	text-align: center;
	font-weight: 700;
	color: #fff;
	background-color: $blue-navy;
	@media screen and (max-width: 425px) {
		padding: 15px;
	}


	&:hover {
		color: #fff;
	}


	&--showmore {
		margin: 15px auto 0 auto;
		color: $blue-navy;
		background-color: $yellow;

		&:hover {
			color: $blue-navy;
		}

		i.icon {
			vertical-align: baseline;
		}
	}

}