.hero {
	position: relative;
	

	&--bg_img {
		padding-top: 16.25%;	
	}


	&-inner {		
		color: #fff;
		@media screen and (max-width: 933px) {
			padding: 0;
		}

		&.bottom_padd {
			@media screen and (max-width: 1024px) {
				padding-bottom: 16px !important;
			}

			&--thin {
				padding-bottom: 26px;
			}

			&--thick {
				padding-bottom: 150px;
			}
		}
		
		h1 {
			line-height: 1;
			color: #fff;

			&.hero-h1 {
				display: none;
				@include bp($tablet-sm) { display: block; }
			}
			&.hero-h1_m {
				display: block;
				@include bp($tablet-sm) { display: none; }
			}
		}	

		p {		
			font-weight: 300;				
		}
	}
}


