.content-block {
	padding-top: em(50);
	padding-bottom: em(50);
}

.content-block--button {
  margin-top: 2em;
}

.content-block--excerpt {
  font-size: em(20);
  font-weight: 700;
  max-width: 760px;
  margin: 0 auto;
}
