.cb {
	padding-top: em(50);
  padding-bottom: em(50);
  
  .cb_button {
    margin-top: 2em;

    .ui.button {
      min-width: 0;
    }
  }

  .cb_excerpt {
    font-weight: 700;
    max-width: 760px;
    margin: 0 auto;
  }

  .cb_h2_underline {
    border-bottom: 10px solid $darkblue;
    padding-bottom: .2em;
  }

}