.cta {
	padding: 50px;

	&.section {
		margin-bottom: 50px;
		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}
	}

	&.full-container-width {
		margin-left: calc( (-1152px + 940px) / 2 );
		margin-right: calc( (-1152px + 940px) / 2 );
	}


	&.full-width {
		margin-left: -16px;
    	margin-right: -16px;
	    @media screen and (min-width: 934px) {   
			margin-left: calc(-100vw / 2 + 50%);
	      	margin-right: calc(-100vw / 2 + 50%); 
	    }
	}
	

	&.center {
		text-align: center;
	}

	
	&_link {
		margin: 0 auto;
		font-weight: 700;
		background-color: $blue-navy;

		a {
			color: #fff;
		}
	}

}