.cb_honeycomb {	
	text-align: center;	


	&_wrapper {
		padding: 50px 0;
		@media screen and (max-width: 767px) {
			padding: 35px 0;
		}

		&:last-child {
    		margin-bottom: 0 !important;
		}

		&.lightblue {
			color: $blue-navy;
			background-color: $blue-bright;
		}
	}


	&_subheadline {
		margin: 0 0 2rem 0;
	}
	
	
	&_item {
		margin: 0 auto;

		&_title {

			a {
				/*color: $blue-navy;*/
				&:hover {
					text-decoration: none;
					border-color: inherit;
				}
			}
		}

		> a {

			&:hover {
				border-bottom: none;
			}
		}

		img {
			width: 100%;
		}
	}

}