@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
   * Specific IE styles to fix IE flexbox bug
   * @see https://github.com/philipwalton/flexbugs/issues/78
   */
	.article-item-group.article-style-blog {
		min-height: 300px;
		margin-bottom: 8em;
		overflow: visible;
	}

	@media (min-width: 768px) {
		.article-item-group.article-style-blog {
			margin-bottom: 0;
		}
  }
  
  /**
   * Specific IE styles to fix flexbox bugs
   * @see https://github.com/philipwalton/flexbugs#flexbug-7
   */
  @media (min-width: 48em) {
    .article-item {
      -ms-flex: 0 0 46%;
      flex: 0 0 46%
    }
  }
  
  @media (min-width: 60em) {
    .article-item {
      -ms-flex: 1 0 31%;
      flex: 1 0 31%
    }
  }
}
