.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;


  &.ui.segment {
    padding: 26px;
    @media screen and (max-width: 933px) {
      padding: 16px;
    }
  }


  &.ui.menu {
    font-size: 1em;
    font-family: $font-family;
    background-color: $blue-navy;
    margin: 0;
    border-radius: 0;

    .ui.item:before {
      display: none;
    }
  }


  &_wrapper {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 0;
    @media screen and (max-width: 589px) {
      padding: 8px 0 2px 0;
      text-align: center;
    }

    > hr {
      margin: 0
    }
  }


  &_branding {
    font-weight: 600;
    @media screen and (max-width: 589px) {
      padding-bottom: 18px;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
        border-bottom: none;
      }
    }

    &_title, .img_placeholder {
      @media screen and (min-width: 590px) {
        display: inline-block;
      }
    }

    &_title {
      vertical-align: top;
      display: inline-block;
      margin-top: 0;
      font-size: em(24, $font-size);
      font-weight: 600;
      @media screen and (max-width: 933px) {
        margin-top: 3px;
        font-size: em(18, $mobile);
      }
    }
  }


  &_list {
    padding: 30px 0;
    @media screen and (max-width: 589px) {
      padding: 0 0 18px 0;
    }

    .ui.grid {
      @media screen and (max-width: 589px) {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
      }
    }

    .ui.item {
      @media screen and (max-width: 589px) {
        padding: 0 0 18px 0;
        justify-content: center;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &_item {
      font-size: em(18, $font-size);
      font-weight: 600;
      @media screen and (max-width: 933px) {
        font-size: em(14, $mobile);
      }

      a {
        color: #fff;

        &:active {
          background-color: $blue-navy;
        }
      }

      &--search {
        position: relative;
        @media screen and (min-width: 934px) {
          display: none;
        }

        .search_input_wrapper {
          display: inline-block;
          opacity: 0;
          transition: opacity 0.5s ease;
          @media screen and (min-width: 590px) and (max-width: 933px) {
            position: absolute;
            right: 100%;
          }

          &.hide {
            display: none;
          }

        }

        .icon {
          position: relative;
          vertical-align: top;
          height: 35px;
          width: 35px;
          margin: 0 -3px 0 0;

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &.remove {
            color: #000;
            background-color: #fff;
            @media screen and (min-width: 590px) and (max-width: 933px) {
              position: absolute;
              left: 0;
            }
          }

          &.search {
            margin: 0;
            color: inherit;
            background-color: initial;
            transition: color 0.5s ease, background-color 0.5s ease;

            &.active {
              margin-left: -3px;
              color: #000;
              background-color: #fff;
            }
          }
        }

        input {
          height: 35px;
          border: none;
          text-align: center;
          color: #000;
          transition: width 0.5s ease;

          &.inactive {
            width: 0 !important;
          }

          &.active {
            width: 200px;
            @media screen and (max-width: 589px) {
              width: 200px !important;
            }
          }
        }

        .search_submit_wrapper {
          display: inline-block;
          position: relative;
          vertical-align: top;

          #searchsubmit_footer {
            position: absolute;
            z-index: -1;
            width: 100%;
            opacity: 0;
          }
        }

      }
    }
  }


  &_bureau {
    padding: 30px 0;
    @media screen and (max-width: 589px) {
      padding: 18px 0 12px 0;
    }

    &_txt {
      vertical-align: top;
      display: inline-block;
      font-size: em(20, $font-size);
      font-weight: 600;
      @media screen and (min-width: 590px) and (max-width: 933px) {
        font-size: em(16, $mobile);
      }
      @media screen and (max-width: 589px) {
        display: none;
      }
    }
  }


  &_disclaimer {

    &_txt {
      font-size: em(18, $font-size);
    }
  }
}
