.yali-learns .feat_course {
	color: $blue-navy;
	@media screen and (min-width: 934px) {
		padding-top: 80px;
		padding-bottom: 80px;	
	}
	@media screen and (max-width: 933px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.ui.stackable.grid {

		> .wide.column {
			@media screen and (max-width: 767px) {
				padding-left: 0 !important;
				padding-right: 0 !important;

				&:first-child {
					padding-bottom: 0 !important;
				}
			}
		}
	}

	&_title {
		margin-bottom: 18px;
		text-align: center;		
	}
	

	&_thumb {
		@media screen and (max-width: 767px) {
			text-align: center;
		}	

		img {
			width: 100%;
			@media screen and (max-width: 767px) {
				max-width: 300px !important;
			}
		}
	}	


	&_content {
		padding-top: 18px;
		border-top: 8px solid $blue-navy;

		&.ui.grid {
			margin-top: 0;
			@media screen and (max-width: 599px) {

				>.four.wide.column,
				>.twelve.wide.column {
					width: 100% !important;
				}
			}
		}
	}


	&_cta {
		display: inline-block;
		margin-right: 1em;
		padding: 20px;		
		background-color: $red;
		@media screen and (max-width: 767px) {
			padding: 10px;
		}

		a {
			font-weight: 700;
			color: #fff;
			@media screen and (max-width: 767px) {
				font-weight: 300;
			}
		}
	}

}