.yali-learns {


	.section {

		ol, ul {
			@media screen and (max-width: 767px) {
				padding-left: 20px;
			}
		}
	}


	.intro {			
		border-top: 1px solid #cdcdcd;	
		color: $blue-navy;
		@media screen and (min-width: 934px) {
			padding-bottom: 80px;
		}
		@media screen and (max-width: 933px) {
			padding-bottom: 30px;
		}
		
		h2 {
			text-align: center;
		}
	}
	

}