<!DOCTYPE html>
<html>
<head>	
	{{ wp_head() }}
	<link rel="stylesheet" type="text/css" href="{{ theme_path() }}/css/custom.css">
</head>
<body>
	<div class='wrapper'>
	<a href="/"><img src="{{ header_img() }}"></a>
	{% include 'menus/header_menu.twig' %}	