{% extends 'base.twig' %}

{% block main %}
	{% if not is_home() %}
	<div class='title-header'>{{ page_data["title"]["rendered"] }}</div>
	{% endif %}	

	<section>		
		{% if is_blog() %}
		<h4>Page - {{ page_num }}</h4>		
		{% endif %}

		{% if not is_blog() %}
			{% include 'content/content_page.twig' %}
		{% endif %}			

		{% if is_blog() %}			
			{% include 'content/content_blog.twig' %}
		{% endif %}
	</section>	
{% endblock %}