{% extends 'base.twig' %}

{% block main %}
	{% include 'sidebar.twig' %}
		
	<section class="main-content main-content--home">		
		
		{{ post.content }}		
		
		{% if is_home %}
			{% include 'home/post-content.twig' %}
		{% endif %}
	</section>	

{% endblock %}

