{% extends 'base.twig' %}

{% block main %}
	{% if not is_home() %}
	<div class='title-header'>{{ page_data["title"]["rendered"] | raw }}</div>
	{% endif %}	

	<section>		
		{% if is_blog() %}
			<h4>Page - {{ page_num }}</h4>				
			{% include 'content/content_blog.twig' %}
		{% else %}
			{% include 'content/content_page.twig' %}
		{% endif %}		
	</section>	

{% endblock %}