{% extends 'base.twig' %}

{% block main %}	
	<div class='title-header'>{{ post_data["title"]["rendered"] }}</div>

	<div class='main-content main-content--gutter-right'>							
		<div>{{ post_data["content"]["rendered"] | raw }}</div>		
		<hr>		
		<div class='tax_terms'>
			<p>
				{% for cat in categories %}		
				<span>{{ cat.name | raw }}</span>		
				{% endfor %}
			</p>
			<p>			
				{% for tag in tags %}		
				<span><i>{{ tag.name }}</i></span>		
				{% endfor %}			
			</p>
		</div>
	</div><!--main-content -->
	{% include 'sidebar.twig' %}
{% endblock %}
