
{#<div class="ui vertical segment">
  <p>{{ title }}</p>
  <p>{{ title_alignment }}</p>
  <p>{{ excerpt }}</p>
  <p>{{ excerpt_alignment }}</p>
</div>#}

<div class="hero">
    <span id="cafe" role="img" aria-label="Coffee and croissant.">
        <span class="inner"></span>
    </span>
</div>