<section class="content-block full-width" style="background-color: {{ block_bg_color }}">
   <div class="ui container">
    <h2>{{ title }}</h2>
    <div style="text-align: {{ excerpt_alignment }}">{{ excerpt }}</div>
   </div>
</section>