<section class='section text_cb full-width' style='background-color:{{ block_bg_color }}'>
	<div class='ui container'>
		<div class='inner-container'>			
			<div class='text_cb_headline'>
				{% include 'partials/content_block_title.twig' %}
			</div>					
			<div class='text_cb_content' style='color: {{ font_color }}'>				
				{{ text_content }}
			</div>
		</div>
	</div>	
</section>
