.nav_menu {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: -4px 0 0 0;
    list-style: none;
    @media (max-width: 933px) {
      display: none;
      min-width: 260px;
      margin-top: 16px;
      margin-right: -16px;
    }


    &.mobile {
      position: absolute;
      right: 0;
      display: block;
    }


    &_item {
      display: inline-block;
      margin: 0 15px;
      font-size: em(18);
      @media screen and (min-width: 934px) and (max-width: 1200px) {
        margin: 0 7.5px;       
      }
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        font-size: em(16);
      }
      @media screen and (min-width: 934px) and (max-width: 1024px) {
        font-size: em(14);
      }
      @media screen and (max-width: 933px) {
        position: relative;
        display: block;
        width: 100%;
        padding: 10px 16px;
        margin: 0;

        &.ui.dropdown {
          display: block;
        }                
      }

      &_title-wrapper {
          position: relative;

          &.active {
            @media screen and (max-width: 933px) {
              background-color: $blue;
            }            
          }          

          @media screen and (max-width: 933px) {
            margin: -10px -16px;
            padding: 16px;

            .menuDropdown {
              position: absolute;
              top: 50%;
              right: 16px;
              @include transform(translateY(-50%));              
            }
          }
      }      

      &--search {
        vertical-align: top;
        color: #000;
        @media screen and (max-width: 933px) {
          background-color: #fff;
          color: $darkblue;
        }

        .search_wrapper {
          text-align: center;
        }

        input {
          display: none;
          height: 44px;
          border: 1px solid #ccc;
          text-align: center;          
          @media screen and (max-width: 933px) {
            display: inline-block;
          }
        }

        .search-icon_wrapper {
          position: relative;
          vertical-align: top;
          display: inline-block;
          height: 35px;          
          width: 35px;
          margin-left: -2px;
          background-color: $darkblue;
          @media screen and (max-width: 933px) {
            height: 44px;          
            width: 44px;
          }
        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
          font-size: em(18);
          color: #fff;          
        }        
      }

      &--social {
        display: none;
        @media screen and (max-width: 933px) {
          display: block;          
          text-align: center;          
          background-color: #fff;
          color: $darkblue;
        }

        i {
          position: relative;
          width: 25px;
          height: 25px;
          @include border-radius(50%);
          background-color: $darkblue;
          color: #fff;

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            display: block;
          }
        }
      }

    }

  }