.nav {
  width: 100%;
  padding: 26px;
  color: #fff; 
  @media screen and (max-width: 933px) {
    padding: 16px;
  }


  &.ui.menu {
    font-family: $SSP;
    font-weight: 700;
    background-color: $darkblue;
  }


  &_wrapper {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }


  &_siteurl {
    float: left;
    @media screen and (max-width: 933px) {
      margin-right: 10px;
    }

    &.mobile {
      display: inline-block;
      float: none;
    }

    span {
      vertical-align: top;
      display: inline-block;
      margin-top: 3px;
      font-size: em(24);
      color: #fff;
      transition: all 0.5s ease;
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        font-size: em(20);
      }
      @media screen and (min-width: 934px) and (max-width: 1024px) {
        font-size: em(16);
      }      

      &:hover {
        text-decoration: none;
      }
    }
  }  


  &_right {
    float: right;
    @media screen and (max-width: 933px) {
      float: none;
      vertical-align: top;
      display: inline-block;      
    }
  }


  &_join {    
    display: none;
    margin: 0 15px;
    padding: 7px 23px;
    color: $darkblue;
    background-color: $yellow;
    cursor: pointer;
    transition: opacity 2s ease;

    &--mobile {
      @media screen and (min-width: 934px) {
        display: none !important;
      }       

      @media screen and (max-width: 933px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 0 23px;
      }      

      @media screen and (max-width: 425px) {
        margin: 0 0 0 14px;
        padding: 7px 14px;
      }      
    }

    &--desktop {
      font-size: em(18);
      @media screen and (max-width: 933px) {
        display: none !important;
      } 
      @media screen and (min-width: 934px) and (max-width: 1209px) {
        margin: 0 7.5px;        
      }
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        font-size: em(16);
      }
      @media screen and (min-width: 934px) and (max-width: 1024px) {
        font-size: em(14);
      }
    }

    &.no_show {
      opacity: 0;
    }

    &.fade_in {      
      opacity: 1; 
    }
  }

}