.nav {
  width: 100%;
  padding: 26px;
  color: #fff; 
  @media screen and (max-width: 933px) {
    padding: 16px;
  }


  &.ui.menu {
    /*font-size: 1em;*/
    font-size: $font-size + 0px;
    font-family: $font-family;
    font-weight: 700;
    background-color: $blue-navy;
    @media screen and (max-width: 933px) {
      font-size: $mobile + 0px;
    }
  }


  &_wrapper {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }


  &_siteurl {
    float: left;    
    @include bp($desktop) {
      margin-top: 3px;
    }
    @media screen and (max-width: 933px) {
      margin-top: 0;
      margin-right: 10px;
    }

    &.mobile {
      display: inline-block;
      float: none;
    }

    span {
      vertical-align: top;
      display: inline-block;
      margin-top: 3px;
      font-size: em(24);
      color: #fff;
      transition: all 0.5s ease;
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        font-size: em(20);
      }
      @media screen and (min-width: 934px) and (max-width: 1024px) {
        font-size: em(16);
      }      
      @media screen and (max-width: 330px) {
        font-size: em(16, $mobile);
      }

      &:hover {
        text-decoration: none;
      }
    }
  }  


  &_right {
    float: right;
    @media screen and (max-width: 933px) {
      float: none;
      vertical-align: top;
      display: inline-block;      
    }
  }


  &_join {    
    display: none;
    margin: 0 15px;
    padding: 7px 23px;
    color: $blue-navy;
    background-color: $yellow;    
    cursor: pointer;
    transition: opacity 2s ease;

    &--mobile {
      @media screen and (min-width: 934px) {
        display: none !important;
      }       

      @media screen and (max-width: 933px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 0 23px;
      }      

      @media screen and (max-width: 425px) {
        margin: 0 0 0 14px;
        padding: 7px 14px;
      }

      @media screen and (max-width: 470px) {
        margin: 0 0 0 14px;
        padding: 7px 14px;

        p {
          font-size: em(14, $mobile);
        }
      }

      @media screen and (max-width: 365px) {

        p {
          font-size: em(12, $mobile);
        }
      }

      @media screen and (max-width: 330px) {
        margin: 0 0 0 10px;
        padding: 7px 10px;        
      }      
    }

    &--desktop {      
      @media screen and (max-width: 933px) {
        display: none !important;
      }            
      @media screen and (min-width: 934px) and (max-width: 1209px) {
        margin: 0 7.5px;        
      }
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        p {
          font-size: em(16);
        }        
      }
      @media screen and (min-width: 934px) and (max-width: 1024px) {
        p {
          font-size: em(14);
        }        
      }
      @media screen and (min-width: 1201px) {
        p {
          font-size: em(18);
        }
      }            
    }

    &.no_show {
      opacity: 0;
    }

    &.fade_in {      
      opacity: 1; 
    }
  }

}