//Overwrite Semantic
.ui.dropdown .menu {	
	border: none;
	border-radius: 0;
	background: transparent;	
	@media screen and (min-width: 934px) {
		padding-top: 37px;
	}
	@media screen and (max-width: 933px) {
		position: relative;
		margin-top: 1em;
		box-shadow: none;
	}
}

.nav_menu_submenu {	
	@media screen and (max-width: 933px) {		

		.opaque_bg {
			display: none;
		}
	}

	&_item {		
		
		&.item {

			a {
				font-size: em(14, $mobile);
				font-weight: 700;
				color: #fff;
			}			
		}
	}
}