/* Font Sizes */
$browser-default: 14;
$font-size: 16;
$mobile: 12;

html {
	font-size: em(16);
	@media screen and (max-width: 933px) {
		font-size: em($mobile);
	}
}


/* Font Family */
$SSP: 'Source Sans Pro', sans-serif;