x/*------------------------------------*\
  #HTML-ELEMENTS
\*------------------------------------*/

body {
	background-color: #fff;
 	color: $font-color;
	line-height: 1.428;
}

main {
	position: relative;
}


.site-content {
	// for mobile no margin, desktop em(74)
	margin-top: em(0);
	// temp
	//height: 2500px;
}

.ui.inverted.menu {
	border: none;
}