/*------------------------------------*\
  #HTML-ELEMENTS
\*------------------------------------*/

body {
	background-color: #fff;
 	color: $font-color;
	line-height: 1.428;
}

main {
	position: relative;
}


.site-content {
	margin-top: 90px;
	@media screen and (max-width: 933px) {
		margin-top: 62px;
	}	
}

.ui.inverted.menu {
	border: none;
}
