$icons-font-path: 'node_modules/semantic-ui-sass/icons' !default;
$font-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900';
$font-name: 'Source Sans Pro' !default;
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;

@import 'node_modules/semantic-ui-sass/semantic-ui';
