/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/


html {
  font-size: 100%;  
}


body {
  font-size: $font-size + 0px;
  
  &.page,
  &.single,
  &.archive,
  &.error404,
  &.search {
    font-size: $font-size + 0px;
    color: $blue-navy;
    @media screen and (max-width: 933px) {
      font-size: $mobile + 0px;
    } 
  }  
}


h1 {
  font-size: em(112);
  font-weight: 900;
  @media screen and (max-width: 933px) {
    font-size: em(72, $mobile);
  }
  @media screen and (max-width: 330px) {
    font-size: em(60, $mobile);
  }
}


h2 {
  font-size: em(64);
  font-weight: 900;
  @media screen and (max-width: 933px) {
    font-size: em(34, $mobile);
  }
}


h3 {
  font-size: em(48);
  font-weight: 700;
  @media screen and (max-width: 933px) {
    font-size: em(28, $mobile);
  }
}


h4 {
  font-size: em(32);
  font-weight: 700;
  @media screen and (max-width: 933px) {
    font-size: em(24, $mobile);
  }
}


h5 {
  font-size: em(24);
  font-weight: 700;
  @media screen and (max-width: 933px) {
    font-size: em(20, $mobile);
  }
}


p, 
ol,
.page-content > ul {
  font-size: em(22); 
  font-weight: 300;
  line-height: 1.44;
  @media screen and (max-width: 933px) {
    font-size: em(18, $mobile);
  }
  @media screen and (max-width: 320px) {
    font-size: em(14, $mobile);
  }
}


ul {
  font-weight: 300;
}


blockquote {
  font-size: $font-size + 0px;
  @media screen and (max-width: 933px) {
    font-size: $mobile + 0px;
  }
}


.text_light {
  color: #fff;
}


.text_dark,
.cta_link.text_dark {
  color: $blue-navy;

  &:hover {
    color: $blue-navy;  
  }
}


.text_bold {
    font-weight: 700;
}


.caption {
  font-size: em(14);
  font-style: italic;
  @media screen and (max-width: 933px) {
    font-size: em(12, $mobile);
  }
}