/*------------------------------------*\
  #VARIABLES (DEFAULTS)
\*------------------------------------*/

// colors
$blue-navy: #192856;
$blue-medium: #174f9f;
$blue-bright: #25ace2;
$red: #bd1125;
$yellow: #F2D400;


/*----------------------------------------------*\
  #TYPOGRAPHY (semantic uses these values)
\*----------------------------------------------*/

$icons-font-path: 'assets/icons' !default;
$font-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900';
$font-name: 'Source Sans Pro' !default;
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
$font-color: #1d1d1d;

// Font Sizes
$browser-default: 16;
$font-size: 18;
$mobile: 16;


/*----------------------------------------------*\
   #MEDIA-QUERIES
\*----------------------------------------------*/

$mobile-big:           25em;  // 400px
$tablet-sm:            38em;  // 620px
$tablet:               48em;  // 768px
$laptop:               64em;  // 1024px
$desktop:              75em;  // 1200px
$desktop-big:          100em; // 1600px   
                                                                                                             