.all_posts {
	margin: 50px 0;
	color: $blue-navy;
	@media screen and (max-width: 767px) {
		margin: 25px 0;
	}	
	

	&_title {
		text-align: center;


		&:after {
			content: '';
			display: block;
			height: 5px;				
			background-color: $blue-navy;
			@media screen and (min-width: 768px) {
				margin: 0 16px;
			}
		}
	}


	&_showmore {
		display: none;
		margin: 0 auto;
		color: $blue-navy;
		background-color: $yellow;

		&:hover {
			color: $blue-navy;
		}
	}


	.filter_selections {
		margin: 15px 0;
		@media screen and (min-width: 426px) {
			text-align: center;
		}		

		.ui.label {
			margin: 3px;
		}
	}


	.posts_list {
		margin: 0;

		&.ui.stackable.grid > .column.row > .column.pl_article {
			@media screen and (max-width: 767px) {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}

		&_row {
			margin-top: 25px;
		}
	}


	.pl_article {
		@media screen and (max-width: 767px) {
			padding-left: 0 !important;
			padding-right: 0 !important;				
		}
		@media screen and (min-width: 426px) and (max-width: 767px) {
			text-align: center;
		}

		&_img {
			width: 100%;		
			@media screen and (min-width: 426px) and (max-width: 767px) {
				display: block;
				width: 50%;
				margin: 0 auto;
			}		
		}

		&_headline {
			margin: 10px 0 5px 0;

			a {
				color: $blue-navy;
				
				&:hover {
					text-decoration: underline;
					color: $blue-medium;
				}

				&:active {
					color: $blue-navy;
					background-color: $yellow;
				}
			}
		}

		&_excerpt {
			margin-bottom: 5px;
			@media screen and (min-width: 934px) {
				font-size: em(17);
			}
		}

		&_tags {
			margin-bottom: 15px;

			&_tag {
				display: inline-block;
				margin-right: 10px;
				font-family: $font-family;
				font-size: em(14);
				font-style: italic;
				font-weight: 300;					
				color: $blue-navy;
				@media screen and (max-width: 767px) {
					font-size: em(12, $mobile);
				}

				&:hover {
					text-decoration: underline;
					color: $blue-navy;
				}
			}
		}

		&_cta {

			.cta_link {
				display: inline-block;
				padding: 15px 8px;
				font-weight: 600;
				background-color: $red;
				@media screen and (min-width: 1024px) and (max-width: 1100px) {
					font-size: em(16);
				}
				@media screen and (min-width: 934px) and (max-width: 1023px) {
					font-size: em(13);
				}
			}
		}
	}

}