<form class='search_wrapper' role='search' method='get' id='searchform' action='/'>
	<div class='search_input hide'>
		<div class='search_input_wrapper'>
			<i class='search_input_close remove icon'></i>
			<input type='text' value='' name='s' id='s' placeholder='Search'>			
		</div>
	</div>
	<span class='search-icon_wrapper'>
		<input type='submit' id='searchsubmit'>
		<i class='search icon'></i>
	</span>
</form>