.campaign {
	
	
	.page-content {
		margin-bottom: 35px;
	}
	

	.section {
		margin-bottom: 75px;
		@media screen and (max-width: 767px) {
			margin-bottom: 35px;
		}

		&.cb-post_grid {
			margin-bottom: 0;
		}
	}


	.courses {

		.ui.stackable.grid {

			>.column.row > .column {
				@media screen and (max-width: 767px) {
					padding-right: 0 !important;
					padding-left: 0 !important;
				}				
			}
		}

	}

	.course {	

		&_img {
			width: 100%;
			@media screen and (min-width: 425px) and (max-width: 767px) {
				width: 50%;
			}
		}

		&_title {		
			margin: 5px 0;
			@media screen and (max-width: 767px) {
				margin: 10px 0;
			}

			a {
				color: $blue-navy;
			}			
		}

		&_links {			

			.cta_link {
				display: inline-block;
				width: 49%;
				background-color: $red;
				@media screen and (min-width: 934px) and (max-width: 1023px) {
					font-size: 15px;
				}
			}
		}
	}


	.promote {		
		
		&_item {

			&.ui.stackable.grid {

				.eight.wide.column {
					@media screen and (max-width: 767px) {
						padding: 16px 0 !important;

						img {
							margin-bottom: 8px;
						}
					}
				}				
			}

			&_img {
				width: 100%;
				min-height: 300px;
				background-size: cover;
			}

			&_text {
				margin-top: 10px;
			}
		}		
	}


	.org_event {

		&_item {			

			.cta_link {
				background-color: $blue-medium;
				@media screen and (max-width: 767px) {
					margin: 0 auto;
				}
			}
		}

		&_text {

			a {
				font-weight: 600;
			}
		}
	}

}