.yalistands4all {

	
	.section {
		margin-bottom: 50px;
	}	

	
	.promote {		
		
		&_item {

			&_share {
				position: relative;
				display: block;
				padding: 25px;
				margin-bottom: 25px;
				font-size: em(28);				
				font-weight: 900;
				text-align: center;
				color: #fff;
				background-color: $blue-medium;

				i {
					float: left;
					font-size: 2em;

					&::before {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			img {
				width: 100%;
				max-height: 300px;
			}
		}
	}


	.alumni {

		&_vid {

			img {
				width: 100%;		
				max-height: 300px;
			}
		}		
	}


	.org_event {

		&_item {

			.cta_link {
				max-width: 100%;
			}
		}
	}
	
	
	.survey {

		.cta_link {
			max-width: 100%;
		}
	}
}