.action {


	.campaigns_list {
		@media screen and (min-width: 768px) {
			padding: 75px 0;
		}

		&.ui.stackable.grid {
			margin: 0;

			.six.wide.column {
				@media screen and (min-width: 768px) {
					margin-right: 40px;
				}
			}
		}
	}


	.list {

		&_item {
			@media screen and (max-width: 767px) {
				text-align: center;
			}

			&:not(:last-child) {
				padding-top: 32px;
				padding-bottom: 32px;
			}

			&_img_link {
				
				&:hover {
					border-bottom: none;
				}

				img {
					width: 100%;
				}
			}			
			
			&_content {
				@media screen and (min-width: 768px) {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			&_link {
				color: $blue-navy;

				&:hover {										
					text-decoration: none;
					border-bottom: 2px dashed $blue-navy;
				}
			}
		}
	}
}
