.action {


	.campaigns_list {
		@media screen and (min-width: 768px) {
			padding: 75px 0;
		}

		&.ui.stackable.grid {
			margin: 0;

			.six.wide.column {
				@media screen and (min-width: 768px) {
					margin-right: 40px;
				}
			}
		}
	}


	.list {

		&_item {
			@media screen and (max-width: 767px) {
				text-align: center;
			}

			&:not(:last-child) {
				padding-top: 32px;
				padding-bottom: 32px;
			}


			&_img {
				display: block;
				box-sizing: border-box;
				width: 300px;
				height: 300px;
				border: 10px solid $blue-navy;
				border-radius: 50%;
				background-position: 50%;
				margin-left: 40px;
				background-repeat: no-repeat;
				@media screen and (min-width: 768px) and (max-width: 1023px) {
					width: 300px;
					height: 300px;
				}
				@media screen and (max-width: 767px) {
					margin: 0 auto;
				}
				@media screen and (max-width: 330px) {
					width: 250px;
					height: 250px;
				}
			}

			&_content {
				@media screen and (min-width: 768px) {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			&_link {
				color: $blue-navy;
			}
		}
	}
}
