.home {
	

	&_intro {
		margin-bottom: 50px;
		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}		

		&_items {

			&.ui.stackable.grid > .column.row > .column.home_intro_item {
				@media screen and (max-width: 767px) {
					padding-right: 0 !important;
					padding-left: 0 !important;
				}
			}

		}
	}


	.item {

		&_headline {
			@media screen and (min-width: 1101px) {
				font-size: 20px;
			}
			@media screen and (max-width: 1100px) {
				font-size: 18px;	
			}
		}

		&_excerpt {
			margin-bottom: 10px;		
			@media screen and (min-width: 934px) {
				font-size: 17px;
			}
			@media screen and (min-width: 768px) and (max-width: 900px) {
				font-size: 16px;
			}
		}

		&_link {			
			@media screen and (min-width: 934px) {
				font-size: 17px;
			}			
			@media screen and (min-width: 768px) and (max-width: 900px) {
				font-size: 16px;
			}			

			a {
				color: $blue-medium;

				&:hover {					
					border-bottom: none;

					.text-wrap {
						border-bottom: 2px dashed $blue-medium;	
					}						
			    }

			    .word-break {
					@media screen and (max-width: 768px) {
						display: none;
					}
				}
			}
		}
	}

	/**
	 * Specific IE styles to fix IE flexbox bug
	 * @see https://github.com/philipwalton/flexbugs/issues/78
	 */
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .article-item-group.article-style-blog {
			min-height: 300px;
			margin-bottom: 8em;
			overflow: visible;
		}

		@media (min-width: 768px) {
			.article-item-group.article-style-blog {
				margin-bottom: 0;
			}
		}
	}
}