.home {
	

	&_intro {
		margin-bottom: 50px;
		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}		

		&_items {

			&.ui.stackable.grid > .column.row > .column.home_intro_item {
				@media screen and (max-width: 767px) {
					padding-right: 0 !important;
					padding-left: 0 !important;
				}
			}

		}
	}


	.item {

		&_headline {
			@media screen and (min-width: 1101px) {
				font-size: 20px;
			}
			@media screen and (max-width: 1100px) {
				font-size: 18px;	
			}
		}

		&_excerpt {
			margin-bottom: 10px;		
			@media screen and (min-width: 934px) {
				font-size: 17px;
			}
			@media screen and (min-width: 768px) and (max-width: 900px) {
				font-size: 16px;
			}
		}

		&_link {			
			@media screen and (min-width: 934px) {
				font-size: 17px;
			}			
			@media screen and (min-width: 768px) and (max-width: 900px) {
				font-size: 16px;
			}

			&_break {
				@media screen and (min-width: 768px) {
					display: block;
				}	

				&--mwf {
					@media screen and (min-width: 425px) and (max-width: 454px) {
						display: block;		
					}				
				}

				&--network {
					@media screen and (min-width: 977px) {
						display: inline;	
					}
				}
			}

			a {
				color: $blue-medium;

				&:hover {					
					border-bottom: 1px dashed $blue-medium;
					text-decoration: none;		

					.item_link_break .line_two {
						border-bottom: 1px dashed $blue-medium;
					}			
			    }
			}
		}
	}

}