.learning {
	

	&_wrapper {

		.section {
			margin: 50px 0;
			@media screen and (max-width: 767px) {
				margin-bottom: 25px 0;
			}
		}
	}	


	&_filter {		

		&_menu {
			margin-top: 25px;
			text-align: center;

			&_item {
				display: inline-block;
				min-width: 125px;
				padding: 10px;
				border: 5px solid $blue-navy;
			}

		}
	}


	&_faqs {

		&_item {
			margin-bottom: 25px;

			&_q {
				margin-bottom: 10px;
			}
		}
	}


}