.mwf-partners {
  ul {
    @media screen and (max-width: 933px) {
      font-size: em(18, $mobile);
    }
    @media screen and (max-width: 320px) {
      font-size: em(14, $mobile);
    }

    &.list_column {
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 300;
      font-size: em(18);
      @media screen and (min-width: 934px) {
        column-count: 3;
      }

      &--bold {
        font-weight: 600;
      }

      a {
        color: $blue-medium;
      }

      .lightweight {
        font-weight: 300;
      }
    }
  }

  > div {
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  }
}
