.single_post {


	.section {
		margin: 50px 0;
		@media screen and (max-width: 767px) {
			margin: 25px 0;
		}
	}


	.addthis_inline_share_toolbox {
		margin-top: 15px;
	}


	&_tax {
		margin-top: 16px;
		padding-top: 8px;
		border-top: 1px solid #ccc;

		.tax_term {
			display: inline-block;
			font-size: em(14);
			color: #aaa;
			@media screen and (max-width: 933px) {
				font-size: em(12, $mobile);
			}

			a {
				font-style: italic;
				color: #aaa;

				&:hover {
					color: #000;
				}
			}
		}
	}

	.archive_link {
		text-align: center;

		.cta_link {
			display: inline-block;
			max-width: 100%;
			margin: 0 auto;
			color: $blue-navy;
			background-color: $yellow;
		}
	}


}
