.single_post {
	

	.section {
		margin: 50px 0;
		@media screen and (max-width: 767px) {
			margin: 25px 0;
		}
	}


	&_tax {
		margin-top: 16px;
		padding-top: 8px;
		border-top: 1px solid #ccc;

		.tax_term {
			display: inline-block;
			color: #aaa;

			a {
				font-style: italic;
				color: #aaa;		

				&:hover {
					color: #000;
				}	
			}
		}
	}

	.archive_link {
		text-align: center;

		.cta_link {
			display: inline-block;		
			max-width: 100%;		
			margin: 0 auto;
			color: $blue-navy;
			background-color: $yellow;
		}
	}	


}