.tag_posts {
	

	&_title {

		&:after {
			content: '';
			display: block;
			height: 5px;
			background-color: $blue-navy;
		}
	}


	&_list {

		&.ui.stackable.grid {
			margin-bottom: 50px;
			@media screen and (max-width: 767px) {
				margin-bottom: 0;

				> .column.row > .column.tag_article {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
		}
		
	}

}


.tag_article {
		
	&_title {
		margin-bottom: 10px;
	}

	&_content {

		p {
			@media screen and (min-width: 934px) {
				font-size: em(17);
			}
		}
	}
}