.yalivotes {

		
	.post_listings {
		padding-top: 0;
		padding-bottom: 0;

		&.section {
			margin-bottom: 0;
		}

		&_headline {
			text-align: left;
		}

		&_post {

			&_title {
				
				a {
					color: $blue-navy;
				}				
			}
		}
	}	

}