<section 
	class='all_posts'
	{% if taxonomy %} data-archive-tax={{ taxonomy }} {% endif %}
	
	{% if filter_slug %} data-archive-filter={{ filter_slug }} {% endif %}
>
	<h2 class='all_posts_title'>{{ title }}</h2>

	{% include '/content_blocks/all_posts_filter/dropdown_filter.twig' %}

	<div class='filter_selections'></div>

	<!-- POSTS -->
	<div class='ui stackable grid posts_list'>
		
		{% include '/content_blocks/all_posts_filter/posts_list.twig' %}
		
	</div><!-- posts_list -->
	<div class='cta_link all_posts_showmore'>
		<h4>Show More <i class='caret down icon'></i></h4>
	</div>
</section>

