{% for item in blog_list %}
<article class='blog-list-item'>	
	<div class='blog-list-thumb'>
		{% if item.thumbnail %}
		<img src="{{ item.thumbnail.src }}">
		{% endif %}	
	</div>
	<div class='blog-list-content'>
		<a href="{{ item.link }}">{{item.title}}</a>
		<p>{{ item.content | excerpt(30) }}</p>
	</div>
</article>
{% endfor %}

