{% extends "base.twig" %}

{% block content %}
  <section class="hero hero--bg_img" style='background-image: url("{{ header_url }}"); background-size: cover;'>    
    <div class="hero-inner bottom_padd bottom_padd--thick">
      <div class="hero-content ui container">
        <h1 class="hero-h1">Young African Leaders Initiative</h1>
        <h1 class="hero-h1_m">YALI</h1>
        <p>The Young African Leaders Initiative (YALI) is a signature effort to invest in the next generation of African leaders.</p>        
      </div>
    </div>
  </section>
  <section class="ui container title-overlay">
    <h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2> 
    <div class='inner-container'>           
      <div>
        {{ page_data.content.rendered }}          
      </div>
    </div>
  </section>
{% endblock %}