{% extends "base.twig" %}

{% block content %}
	{{ page_header }}
  <div>
    
    {% if page_title %}
      <h1 class="ui header">{{ page_title }}</h1>
    {% endif %}
    {{ page_content }}
  </div>

{% endblock %}