{% extends "base.twig" %}

{% block content %}
	
  <div class="ui container">
    {% if page_title %}
      <h1 class="ui header">{{ page_title }}</h1>      
    {% endif %}
    {{ page_content }}
  </div>

{% endblock %}