{% extends "base.twig" %}

{% block content %}
	
  <section class="ui container">
    <h1 class="ui header">{{ page_data.title.rendered }}</h1>          
    <div>{{ page_data.content.rendered }}</div>
  </section>

{% endblock %}