{% extends 'base.twig' %}

{% block content %}

<section class='hero hero--bg_img' style='background-image: url("{{ header_url }}"); background-size: cover;'>
    <div class='hero-inner bottom_padd bottom_padd--thick'>
    	<div class='hero-content ui container'>
    		<h1 class='hero-h1'>{{ page_data.title.rendered }}</h1>
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    	</div>
    </div>
</section>

<section class='ui container'>	
	<div class='inner-container learning_wrapper'>
					
		{% include '/content_blocks/all_posts_filter/all_posts_filter.twig' with
			
			{				
				title: 'Learning with YALI',
				post_types: ['Article', 'Course', 'Podcast', 'Video'],		
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 1 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 2 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 3 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 4 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 5 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 6 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 7 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 8 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 9 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 10 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 11 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 12 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 13 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 14 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1' },
							{ 'term_id': '5', name: 'tag 2' },
							{ 'term_id': '6', name: 'tag 3' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					}
				]
			}
		%}

		<section>{{ social_block }}</section>

		<section class='section learning_faqs'>
			<h3>Frequently Asked Questions</h3>
			<div class='accordion_layout learning_faqs__accordion'>
				<div class='ui styled accordion'>
					<h4 class='title'>YALI Network Online Course: How-to</h4>
					<div class='content'>						
						<div class='learning_faqs_item'>
							<p>Having technical trouble? Didn’t receive your certificate? Please report the issue here: 
							<a href='/troubleshoot'>yali.state.gov/troubleshoot</a></p>						
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>Do I have to be a member of the YALI Network to take a Course?</p>
							<p class='learning_faqs_item_a'>No. Anyone with Internet access can take the courses. However the courses are intended for young professionals with at least a secondary level education. They are designed to advance practical knowledge of Business & Entrepreneurship, Leadership, Public Management and Civic Leadership.</p>
							<p class='learning_faqs_item_a'>The YALI Network stems from the Young African Leaders Initiative (YALI) — a signature effort to invest in the next generation of African entrepreneurs, educators, activists and innovators. To join the YALI Network visit yali.state.gov.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>How do I take a YALI Network online course?</p>
							<p class='learning_faqs_item_a'>Go to yali.state.gov/courses. Once there:</p>
							<ul>
								<li>Choose a course by clicking on the title. Select individual lessons from each course and click “Go to lesson”</li>
								<li>Select the appropriate tab to watch the video, listen to the audio, or read the transcript for each lesson in a course. Each course contains 3-4 lessons, as listed on the Online Courses page.</li>
								<li>After reviewing all the lessons in a course, click on the yellow button to “Pass the Quiz & Get Your Certificate.” This will take you to the course quiz.</li>
								<li>The quiz includes questions from each lesson in the course. Answer every question correctly and press “Check answers” to advance to the certificate page. If any questions are incorrect, you will be prompted to “Try again” and re-answer only those questions.</li>
								<li>Complete the required fields and press “Get Your Certificate” to get a customized YALI Network certificate for that course. The certificate will be emailed to you as an attachment.</li>
							</ul>
						</div>
						<div class='learning_faqs_item'>
								<p class='text_bold learning_faqs_item_q'>
									Do I have to pay a fee in order to take a course?
								</p>
								<p class='learning_faqs_item_a'>
									No. The YALI Network online courses are free to anyone with an Internet connection.
								</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>
								Do I need a username and password to take a course?
							</p>
							<p class='learning_faqs_item_a'>
								No. You do not need to login with a username and password to take the course and the quiz. After you pass the quiz, you will need to complete a form in order to receive your customized certificate.
							</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>
								The video is not working.
							</p>
							<p class='learning_faqs_item_a'>
								Please try reloading the page and see if that helps. If not, you could try playing the video at a time or in a place when you know you will have ample bandwidth. Alternately, you could listen to the audio file or read the transcript.
							</p>
						</div>
					</div>
					
					<h4 class='title'>Online Course Certificates:</h4>
					<div class='content'>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>Once I’ve completed a YALI Network online course and passed the quiz, how do I get a copy of my certificate?</p>
							<p class='learning_faqs_item_a'>After you’ve completed and submitted the form to customize your certificate, an email will be sent to the address you provided. Your course certificate will be attached. You also have the option to view the certificate in your browser immediately after completing and submitting the form and download a PDF copy.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>Can I change the name on my certificate after it is issued?</p>
							<p class='learning_faqs_item_a'>No. You will not be able to modify the certificate once you have completed and submitted the customization form. You can retake the quiz to get a certificate with a different name.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>What are the benefits of earning a YALI certificate?</p>
							<p class='learning_faqs_item_a'>A YALI certificate does not earn credit toward an academic degree, but it shows you and others that you have the desire to learn and grow your capabilities.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>Are the certificates recognized by universities?</p>
							<p class='learning_faqs_item_a'>No, the certificates do not represent academic credit and are not recognized by any universities.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>When will I receive my certificate?</p>
							<p class='learning_faqs_item_a'>After you have passed the quiz at the end of each course, you should receive an email with your certificate attached as a .png image. If you do not receive it, check your spam or junk email folders. Sometimes email systems receiving a message from a new sender put those emails in these folders as a precaution.</p>
						</div>
					</div>

					<h4 class='title'>General YALI Online Courses questions:</h4>
					<div class='content'>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>Are there more course selections?</p>
							<p class='learning_faqs_item_a'>We hope to be able to offer additional courses in the future. Please feel free to let us know what topics you would like to see.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>Are there study groups for these courses?</p>
							<p class='learning_faqs_item_a'>We have not created study groups, but you certainly may organize one yourself. Likewise, you may wish to use these courses as discussion topics for <a href='#'>YALI Network face2face</a> event using the discussion guides that are included on each course page.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>I would like to present a course. How can I do so?</p>
							<p class='learning_faqs_item_a'>The YALI Network can’t officially designate someone as a presenter on these courses, but if you’d like to lead a discussion on one of these topics, we recommend you organize a <a href='#'>YALI Network face2face</a> event and use the discussion guides that are included on each course page to guide the conversation.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>How can I share these courses with my friends?</p>
							<p class='learning_faqs_item_a'>Please let your friends and colleagues know about these courses. You can email the course page to your friends or share it on Facebook, Twitter or LinkedIn. If they wish to take the courses and receive a certificate, they can do so at yali.state.gov/courses.</p>
						</div>
						<div class='learning_faqs_item'>
							<p class='text_bold learning_faqs_item_q'>Can I translate the online course material into a local language?</p>
							<p class='learning_faqs_item_a'>Yes. You may translate the course transcript, discussion guides, quizzes and tests. You are fully responsible for this work and the YALI Network and U.S. Department of State can provide no support for this effort. Any translated materials must be distributed only by you and must not be placed on any YALI Network website, Facebook or Twitter platform.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

{% endblock %}