.nav_menu {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: -4px 0 0 0;
    list-style: none;
    @media (max-width: 933px) {
      display: none;
      min-width: 260px;
      margin-top: 46px;
      margin-right: -16px;
      box-shadow: 1px 3px 5px #ababab;
    }


    &.mobile {
      position: absolute;
      right: 0;
      z-index: 2;
      display: block;
    }


    &_item {
      display: inline-block;
      margin: 0 15px;
      font-size: em(18);
      cursor: pointer;
      @media screen and (min-width: 934px) and (max-width: 1209px) {
        margin: 0 7.5px;
      }
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        font-size: em(16);
      }
      @media screen and (min-width: 934px) and (max-width: 1024px) {
        font-size: em(14);
      }
      @media screen and (max-width: 933px) {
        position: relative;
        display: block;
        width: 100%;
        padding: 10px 16px;
        margin: 0;
      }

      &.initial_wide {
        @media screen and (min-width: 934px) {
          &:not(.search) {
            width: 100px;
          }

          &.search {
            margin-left: 45px;
          }
        }
      }

      &.active {
        .nav_menu_item_title-wrapper {
          @media screen and (max-width: 933px) {
            background-color: $blue-medium;
          }
        }
      }

      &_title-wrapper {
          position: relative;
          z-index: 2;
          display: inline-block;
          @media screen and (max-width: 933px) {
            display: block;
            margin: -10px -16px;
            padding: 16px;

            .menuDropdown {
              position: absolute;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
            }
          }

          &.current_page {
            @media screen and (min-width: 934px) {
              &:after {
                content: '';
                position: absolute;
                bottom: -10px;
                display: block;
                height: 5px;
                width: 100%;
                background-color: $yellow;
              }
            }
          }

          a {
            font-weight: 600;
            color: #fff;
            @media screen and (max-width: 933px) {
              font-size: em(16, $mobile);
            }

            &:hover {
              text-decoration: none;
              border-bottom: none;
            }
          }
      }

      &--social {
        display: none;
        @media screen and (max-width: 933px) {
          display: block;
          text-align: center;
          background-color: #fff;
          color: $blue-navy;
        }

        i {
          position: relative;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: $blue-navy;
          color: #fff;

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
          }
        }
      }

    }

  }
