.nav {
  width: 100%;
  padding: 26px;
  color: #fff;
  @media screen and (max-width: 933px) {
    padding: 16px;
  }


  &.ui.menu {
    font-size: $font-size + 0px;
    font-family: $font-family;
    font-weight: 600;
    background-color: $blue-navy;
    @media screen and (max-width: 933px) {
      font-size: $mobile + 0px;
    }
  }


  &_wrapper {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }


  &_siteurl {
    position: relative;
    float: left;
    @media screen and (max-width: 933px) {
      margin-top: 0;
      margin-right: 10px;
    }

    &:hover {
      text-decoration: none;
      border-bottom: none;
    }

    &.mobile {
      display: inline-block;
      float: none;
    }

    span {
      position: absolute;
      top: 15px;
      left: 35px;
      transform: translateY(-50%);
      width: 335px;
      font-size: em(24);
      color: #fff;
      transition: all 0.5s ease;
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        top: 13px;
        font-size: em(20);
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        top: 13px;
        font-size: em(16);
      }
      @media screen and (max-width: 1024px) {
        width: 230px;
      }
      @media screen and (max-width: 330px) {
        top: 15px;
        width: auto;
        font-size: em(16, $mobile);
      }

      &:hover {
        text-decoration: none;
      }
    }
  }


  &_right {
    float: right;
    @media screen and (max-width: 933px) {
      float: none;
      vertical-align: top;
      display: inline-block;
    }
  }


  &_join {
    display: none;
    margin: 0 15px;
    padding: 7px 23px;
    color: $blue-navy;
    background-color: $yellow;
    cursor: pointer;
    transition: opacity 2s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

    &:hover {
      @media screen and (min-width: 934px) {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        filter: brightness(.96);
        transform: translate(-1px, -1px);
      }
    }

    p {
      font-weight: 700;
    }

    &--mobile {
      @media screen and (min-width: 934px) {
        display: none !important;
      }

      @media screen and (max-width: 933px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 0 23px;
      }

      @media screen and (max-width: 425px) {
        margin: 0 0 0 14px;
        padding: 7px 14px;
      }

      @media screen and (max-width: 497px) {
        margin: 0 0 0 14px;
        padding: 7px 14px;

        p {
          font-size: em(14, $mobile);
        }
      }

      @media screen and (max-width: 372px) {

        p {
          font-size: em(12, $mobile);
        }
      }

      @media screen and (max-width: 337px) {
        margin: 0 0 0 10px;
        padding: 7px 10px;
      }
    }

    &--desktop {
      @media screen and (max-width: 933px) {
        display: none !important;
      }
      @media screen and (min-width: 934px) and (max-width: 1209px) {
        margin: 0 7.5px;
      }
      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        p {
          font-size: em(16);
        }
      }
      @media screen and (min-width: 934px) and (max-width: 1024px) {
        p {
          font-size: em(14);
        }
      }
      @media screen and (min-width: 1201px) {
        p {
          font-size: em(18);
        }
      }
    }

    &.no_show {
      opacity: 0;
    }

    &.fade_in {
      opacity: 1;
    }
  }

}

ul.nav_menu, ul.nav_menu_submenu {
  font-size: em(18);
}

li.nav_menu_item, li.nav_menu_submenu_item {
  font-size: em(18);
}

li.nav_menu_submenu_item:first-of-type {
  @media screen and (min-width: 934px) {
    margin-top: 10px;
  }
}

a.nav_siteurl:active {
    background-color: $blue-navy;
}

.admin-bar .nav.ui.menu {
  margin-top: 32px;
}
