.nav_menu_submenu {	
	display: none;
	position: absolute;
	top: 0;
	padding: 60px 10px 10px 10px;
	margin-left: -20px;
	list-style: none;
	@media screen and (max-width: 933px) {		
		position: relative;
		top: 10px;
		padding: 0;		
		margin-left: 0;

		.opaque_bg {
			display: none;
		}
	}

	&.active {
		display: block;
	}

	&_item {						

		a {
			display: inline-block;
			position: relative;
			padding: 10px;			
			font-weight: 600;
			color: #fff;
			@media screen and (max-width: 933px) {
              font-size: em(14, $mobile);
            }

            &:after {			
				content: '';
	            position: absolute;
	            left: 10px;
	            bottom: 0;
	            display: block;
	            height: 0;
	            width: 95%;
	            background-color: $yellow;
			}

			&:hover {
				
				&:after {
					height: 5px;
				}
			}
		}


	}
}