.mandela-washington-fellowship .application,
.application-information .application { 
	

	#clockdiv {
		width: auto !important;
		font-family: $font-family;
		font-size: inherit !important;

		h1 {
			font-size: em(32);
			font-weight: 700;
			color: $blue-navy;
			@media screen and (max-width: 933px) {
				font-size: em(24, $mobile);
			}
		}

		> div {
			background-color: #ccc;

			.days,
			.hours,
			.minutes,
			.seconds {
				font-size: em(20); 
				font-weight: 700;
				background-color: $blue-navy;
				@media screen and (max-width: 933px) {
					font-size: em(18, $mobile);
				}
				@media screen and (max-width: 320px) {
					font-size: em(14, $mobile);
				}
			}

			.smalltext {
				color: $blue-navy;
			}				
		}
	}
	

	#iip_calendar {
		margin: 20px 0;

		.add-to-calendar-checkbox {
			padding: 10px;
			font-weight: 700;
		}
	}


	&_countdown {
		text-align: center;

		.timer {

			&_item {
				display: inline-block;
				padding: 10px;
				background-color: #ccc;		
				@media screen and (min-width: 425px) {
					
					&:not(:last-child) {
						margin-right: 15px;
					}
				}		
			}

			&_digits {
				box-sizing: border-box;
				width: 50px;
				height: 50px;
				padding: 10px 5px;
				margin-bottom: 5px;
				font-weight: 700;
				color: #fff;
				background-color: $blue-navy;				
			}

			&_text {
				font-size: 14px;
				@media screen and (max-width: 330px) {
					font-size: 12px;
				}
			}
		}
	}

}