.mandela-washington-fellowship {
	
	
	.section {
		margin-bottom: 50px;		
		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}

		&.cb_cta {
			margin-bottom: 0;
		}		
	}


	.application {

		&_content {
			font-size: em(20); 
			font-weight: 300;
			@media screen and (max-width: 933px) {
				font-size: em(18, $mobile);
			}
			@media screen and (max-width: 320px) {
				font-size: em(14, $mobile);
			}
		}

		&_headline {
			text-align: center;
		}

		&_status {		
			display: none;	
			padding: 10px;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			background-color: $red;
			color: #fff;			

			&.app_closed {
				display: block;
			}
		}		

		&_eligibility {
			
		}

		&_resources {
			padding: 50px;			
			text-align: center;
			background-color: $blue-bright;
			@media screen and (max-width: 425px){
				padding: 50px 25px;
			}

			.cta_link {
				margin-right: auto;
				margin-left: auto;
				font-weight: 700;				

				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}

		&_faqs {

			.application_faq {
				margin-bottom: 16px;

				&_q {
					margin-bottom: 16px;
					font-weight: 700;
				}
			}
		}
	}

}