.mandela-washington-fellowship {
	
	
	.section {
		margin-bottom: 50px;		
		@media screen and (max-width: 767px) {
			margin-bottom: 25px;
		}

		&.cb_cta {

			&:last-child {
				margin-bottom: 0;
			}			
		}		
	}


	.learn-more {

		&_links {
			text-align: center;
			
			.cta_link {
				display: inline-block;
				width: 33%;
				max-width: 100%;
				font-weight: 600;
				background-color: $blue-medium;
				@media screen and (max-width: 635px) {
					width: 100%;
					margin-bottom: 5px;
				}
				@media screen and (min-width: 321px) and (max-width: 933px) {
					font-size: 18px;
				}
				@media screen and (max-width: 320px) {
					font-size: 14px;
				}

			}

		}

	}


	.mwf_social {
		padding: 35px 0;
		text-align: center;
		color: #fff;
		background-color: $blue-navy;

		&_link {
			display: inline-block;
			height: 40px;
			width: 40px;
			background: url('../yali-theme/assets/img/social_sprite.png') center no-repeat;						

			&--facebook {
				background-position: 0 0;
			}						

			&--flickr {
				background-position: -110px 0;
			}

			&:not(:last-child) {
				margin-right: 15px;
			}
		}

		i.icon {
			position: relative;			
			font-size: 2em;
			color: $blue-navy;
			background-color: #fff;						

			&.facebook, 
			&.twitter {
				margin-right: 15px;
			}

			&::before {
				position: absolute;
				top: -4px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}


	.application {

		&_content {
			font-size: em(22); 
			font-weight: 300;
			@media screen and (max-width: 933px) {
				font-size: em(18, $mobile);
			}
			@media screen and (max-width: 320px) {
				font-size: em(14, $mobile);
			}
		}

		&_headline {
			text-align: center;
		}

		&_status {		
			display: none;	
			padding: 10px;
			font-style: italic;
			font-weight: 700;
			text-align: center;
			background-color: $red;
			color: #fff;			

			&.app_closed {
				display: block;
			}
		}		

		&_eligibility {
			
		}

		&_resources {
			padding: 50px;			
			text-align: center;
			background-color: #ccc;
			@media screen and (max-width: 425px){
				padding: 50px 25px;
			}

			.two.column.grid {
				margin-top: 1em;
				margin-bottom: 1em;
				@media screen and (max-width: 600px) {
					margin-bottom: 0;
				}

				&:last-child {
					margin-bottom: 0;					
					@media screen and (max-width: 600px) {
						margin-top: 0;
					}
				}
			}

			.cta_link {
				position: relative;
				width: 50%;
				height: 125px;
				margin-right: auto;
				margin-left: auto;
				font-weight: 700;
				background-color: $blue-medium;
				@media screen and (max-width: 1023px) {
					width: 45%;					
					font-size: 18px;
				}				
				@media screen and (max-width: 600px) {
					height: 100px;
					width: 90%;
					margin-bottom: 1em;
				}

			}

			&_resource {
				position: absolute;
				top: 50%;
				left: 0;				
				transform: translateY(-50%);
				width: 100%;				
			}
		}

		&_faqs {

			.application_faq {
				margin-bottom: 16px;

				&_q {
					margin-bottom: 16px;
					font-weight: 700;
				}
			}
		}
	}

}