.join {				
	text-align: center;	
	color: $darkblue;
	transition: all 0.5s ease;


	&.ui.form {
		position: absolute;
		top: 300%;
		right: 0;
		display: none;
		max-height: 1000px;
		max-width: 533px;
		width: 100%;
		font-family: $font-family;
		background-color: $yellow;
		opacity: 1;
		@media screen and (max-width: 933px) {
			top: 200%;
			right: 50%;
			transform: translate(50%);
		}

		.field {
			margin-bottom: em(20);

			input {
				height: 48px;
				font-family: $font-family;
				font-weight: 400;
			}
		}

		select {
			height: 48px;
			font-family: $font-family;

			&.hide_on_init {
				display: none;
			}
		}
	}	


	&.fade_out.ui.form {
		top: 0;
		opacity: 0;	
	}


	.upArrow {

		&.upArrow--joinForm {
			position: absolute;
			top: -20px;
			left: 50%;
			display: none;
			border-width: 20px;
			border-bottom-color: $yellow;
			@media screen and (min-width: 934px) {
				display: none !important; 
			}
		}
	}


	&_wrapper {
		position: relative;
		padding: 40px;
	}


	&_intro {
		font-family: $font-family;
		font-size: em(34);
	}

	
	&_select {
		margin-bottom: 20px;						
	}


	&_interests {
		@media screen and (max-width: 500px) {
			text-align: left;
		}

		&_title {
			margin-bottom: 10px;
			font-size: em(28);
			text-align: center;
		}

		&_chkbx_wrapper {
			display: inline-block;
			@media screen and (max-width: 500px) {
				display: block;
				padding-left: 16px;
			}

			&:first-of-type {
				@media screen and (min-width: 501px) {
					margin-right: 125px;
				}				
			}

			&:last-child {
				margin-bottom: 20px;
			}

			.ui.checkbox {
				display: block;
				padding-bottom: 16px;
				@media screen and (max-width: 500px) {
					padding-bottom: 8px;
				}

				label {
					font-weight: 400;
					@media screen and (max-width: 500px) {
						display: inline-block;
					}
				}
			}
		}
	}


	.hide_on_init {
		display: none;
	}


	&_submit {		
		width: 100%;
		height: em(60);
		font-family: $font-family;
		font-size: em(20) !important;

		&.ui.button {
			background-color: $darkblue;
			color: #fff;
		}
	}

}