<div class='dropdown_filter'>
	<div class='filter'>
		<p class='filter_type'>Type<i class='caret down icon'></i></p>
		<div class='filter_menu'>
			<span class='opaque_bg'></span>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='article'>
				<label>Article</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='courses'>
				<label>Courses</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='podcast'>
				<label>Podcast</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='video'>
				<label>Video</label>
			</div>	
		</div><!-- .filter_menu -->
	</div><!-- .filter -->
	<div class='filter'>
		<p class='filter_type'>Subject<i class='caret down icon'></i></p>
		<div class='filter_menu'>
			<span class='opaque_bg'></span>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='article'>
				<label>Civil Society</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='courses'>
				<label>Business</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='podcast'>
				<label>Entrepreneurship</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='video'>
				<label>Environment</label>
			</div>	
			<div class='filter_menu_item'>							
				<input type='checkbox' name='video'>
				<label>Governance</label>
			</div>	
			<div class='filter_menu_item'>							
				<input type='checkbox' name='video'>
				<label>Health</label>
			</div>	
			<div class='filter_menu_item'>							
				<input type='checkbox' name='video'>
				<label>Leadership</label>
			</div>	
		</div><!-- .filter_menu -->
	</div><!-- .filter -->
	<div class='filter'>
		<p class='filter_type'>Series<i class='caret down icon'></i></p>
		<div class='filter_menu'>
			<span class='opaque_bg'></span>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='article'>
				<label>Series 1</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='courses'>
				<label>Series 2</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='podcast'>
				<label>Series 3</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='video'>
				<label>Series 4</label>
			</div>	
		</div><!-- .filter_menu -->
	</div><!-- .filter -->	
	<div class='filter'>
		<p class='filter_type'>Language<i class='caret down icon'></i></p>
		<div class='filter_menu'>
			<span class='opaque_bg'></span>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='article'>
				<label>English</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='courses'>
				<label>Francais</label>
			</div>						
		</div><!-- .filter_menu -->
	</div><!-- .filter -->
	<div class='filter'>
		<p class='filter_type'>Sort By<i class='caret down icon'></i></p>
		<div class='filter_menu'>
			<span class='opaque_bg'></span>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='article'>
				<label>Most Recent</label>
			</div>
			<div class='filter_menu_item'>							
				<input type='checkbox' name='courses'>
				<label>A-Z</label>
			</div>						
		</div><!-- .filter_menu -->
	</div><!-- .filter -->	
</div><!-- .dropdown_filter -->