<div class='filter_mobile_wrapper'>
	<p class='cta_link filter_mobile_search'>Refine Search</p>
	<div class='dropdown_filter'>
		
		{% if 'content_type' in filters %}
		<div class='filter'>
			<p class='filter_type'>Type<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				{% for type in content_types %}
					<div class='filter_menu_item'>							
						<input type='checkbox' name='{{ type | lower }}' value={{ type }}>
						<label>{{ type }}</label>
					</div>
				{% endfor %}				
			</div><!-- .filter_menu -->
		</div><!-- .filter -->		
		{% endif %}

		{% if 'subject' in filters %}
		<div class='filter' data-tax='category'>
			<p class='filter_type'>Subject<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='civil_society' value='Civil Society' data-tax-item='civil-society'>
					<label>Civil Society</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='business' value='Business' data-tax-item='business'>
					<label>Business</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='entrepreneurship' value='Entrepreneurship' data-tax-item='entrepreneurship'>
					<label>Entrepreneurship</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='environment' value='Environment' data-tax-item='environment'>
					<label>Environment</label>
				</div>	
				<div class='filter_menu_item'>							
					<input type='checkbox' name='governance' value='Governance' data-tax-item='governance'>
					<label>Governance</label>
				</div>	
				<div class='filter_menu_item'>							
					<input type='checkbox' name='health' value='Health' data-tax-item='health'>
					<label>Health</label>
				</div>	
				<div class='filter_menu_item'>							
					<input type='checkbox' name='leadership' value='Leadership' data-tax-item='leadership'>
					<label>Leadership</label>
				</div>	
			</div><!-- .filter_menu -->
		</div><!-- .filter -->
		{% endif %}

		{% if 'series' in filters %}
		<div class='filter' data-tax='series'>
			<p class='filter_type'>Series<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='whats-the-harm' value="What's The Harm" data-tax-item='whats-the-harm'>
					<label>What's The Harm?</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='yali-voices' value='YALI Voices' data-tax-item='yali-voices'>
					<label>YALI Voices</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='series_3' value='Series 3' data-tax-item='series-3'>
					<label>Series 3</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='series_4' value='Series 4' data-tax-item='series-4'>
					<label>Series 4</label>
				</div>	
			</div><!-- .filter_menu -->
		</div><!-- .filter -->	
		{% endif %}

		{% if 'language' in filters %}
		<div class='filter'>
			<p class='filter_type'>Language<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='english' value='English'>
					<label>English</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='francais' value='Francais'>
					<label>Francais</label>
				</div>						
			</div><!-- .filter_menu -->
		</div><!-- .filter -->
		{% endif %}

		{% if 'sort' in filters %}
		<div class='filter'>
			<p class='filter_type'>Sort By<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='most_recent' value='Most Recent'>
					<label>Most Recent</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='a_z' value='A-Z'>
					<label>A-Z</label>
				</div>						
			</div><!-- .filter_menu -->
		</div><!-- .filter -->	
		{% endif %}

		<input type='submit' class='cta_link filter_mobile_submit' value='Apply Filters'>
	</div><!-- .dropdown_filter -->	
</div>