<div class='pagination' style='padding: 25px 0;'>
	{% for i in 1..blog_list['total_pages'] %}
	<a href="/{{ taxonomy }}/{{ filter_slug }}/page/{{ i }}" class='pagination-page'>{{ i }}</a>
	{% endfor %}
</div>